## Imports

In [155]:
import re

import pandas as pd
# Set the maximum number of columns to None (unlimited)
pd.set_option('display.max_columns', None)

# Set the display option to show all rows
pd.set_option('display.max_rows', None)
# 1. Set options to show all columns and full column content
pd.set_option('display.max_columns', None)      # Show all columns
pd.set_option('display.max_colwidth', None)     # Show full width of cell content
pd.set_option('display.expand_frame_repr', False) # Don't wrap to multiple lines

import numpy as np
from datetime import datetime

## df1 (Output1 Processed)

In [156]:
df1 = pd.read_csv('processed_output_V1.csv')
df1.head()

   source_pdf  row_in_pdf                                                                                                            raw_text                    lender   clsing_dt endrsmt_dt   tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ  max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ
0         100           1               "GMFS LLC" 12/31/2012 2/25/2013 2/16/2017 64 1 “Terminated 5.06 5.06 oR uo 117000 74529 0 ‘36108 *02"                  GMFS LLC  12/31/2012  2/25/2013  2/16/2017      64.0         NaN       1.0  Terminated    5.06         5.06          NaN          NaN    NaN          NaN          NaN     117000.0          74529.0                 0           36108.0       2.0
1         100           2  "ONE REVERSE MORTGAGE LLC’ 12/15/2012 1/25/2013 23 73 2 ‘Assigned 4.5 4.5 o'N’ r uo uo 200000 136200 o "36312 "02"  ONE REVERSE MORTGAGE LLC  12/15/2012  1/25/2013        NaN       NaN         NaN       NaN    Assigned    4.50         4.50          NaN            O      N            R          NaN     200000.0         136200.0                 0           36312.0       2.0
2         100           3           "SUN WEST MORTGAGE CO_INC’ 1/11/2013, 3/4/2013 ca 1 ‘Assigned 5.3 5.3 oN i i a 130000 86710 0 '36571 "02"  SUN WEST MORTGAGE CO INC   1/11/2013   3/4/2013        NaN       NaN         NaN       NaN    Assigned    5.30         5.30          NaN            I      I            A          NaN     130000.0          86710.0                 0           36571.0       2.0
3         100           4     “MSR_ASSET VEHICLE LLC’ 2/20/2013 7/25/2013 76 1 ‘Assigned 5.06 5.06 o IN’ Fr uo 300000 207900 5000 "36078 "02"     MSR ASSET VEHICLE LLC   2/20/2013  7/25/2013        NaN       NaN         NaN       NaN    Assigned    5.06         5.06          NaN            O    NaN          NaN          NaN     300000.0         207900.0                 0           36078.0       2.0
4         100           5    "SUN WEST MORTGAGE CO_TNC’ 1/26/2013 4/22/2013 2 1_‘Endorsed 4,99 4.99 oN’ - — uo 240000 161040 2500 "35966 "02"  SUN WEST MORTGAGE CO INC   1/26/2013  4/22/2013        NaN       NaN         NaN       NaN    Endorsed    4.99          NaN          NaN          NaN    NaN          NaN          NaN     240000.0         161040.0                 0           35966.0       2.0

In [157]:
df1.isna().sum()

source_pdf               0
row_in_pdf               0
raw_text                 0
lender                 787
clsing_dt            56336
endrsmt_dt          109649
tmntn_dt            535282
Borr_Age            643621
Coborr_Age          881008
Borr_Cnt            643621
es_status              563
int_rt              100557
int_rt_10yr         244402
hecm_margin         607522
pd_stmln_flg        124288
rt_typ              384086
arm_indx_typ        771189
arm_prdc_typ        952770
max_clm_amt          30115
init_prncpl_lmt      95515
hecm_orgntn_fees         0
prop_addr_zip_cd     51194
loan_typ             12648
dtype: int64

## df2 (Output2)

In [158]:
df2 = pd.read_csv('master_output2.csv')
df2.head()

C:\Users\Amit\AppData\Local\Temp\ipykernel_21612\2014303251.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('master_output2.csv')

   source_pdf  row_in_pdf                                                                                                   raw_text                            lender    clsng_dt endrsmt_dt tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ
0         100           1          OMFSLe" 12'31'2012 27252013 2/16/2017 64 1Terminated' 5.06 5.06 O'R fF i 7 7000 74529 Q3H10R "O2"       OMFSLe" 12'31'2012 27252013   2/16/2017        NaN      NaN      31.0        64.0       2.0  Terminated    5.06         5.06          NaN            R    NaN          NaN          NaN      2012.0       27252013.0              7000               NaN       NaN
1         100           2  "ONEREVERSEMORTGAGEO007 12/15/2012 1/25/2013 73 73 2Assigned 4.5 4.5 oN fF i a 200000 136200 0363120 "O2"            ONEREVERSEMORTGAGEO007  12/15/2012  1/25/2013      NaN      25.0        73.0       2.0    Assigned    4.50         4.50          NaN          NaN    NaN          NaN          NaN    200000.0         136200.0            363120               NaN       NaN
2         100           3            "SLNBESTMORTGAGECOINC 111.2013 3e4/2013 ti 1"Assigned 5.3 5.3 O'S "F ct "30000 86710 Q"S671 on"  SLNBESTMORTGAGECOINC 111.2013 3e         NaN        NaN      NaN     111.0         NaN       1.0    Assigned     NaN         5.30          NaN          NaN      F          NaN          NaN      2013.0          30000.0             86710           30000.0       NaN
3         100           4      "MSRASSETVEHICLE1207 220,2013 7/25/2013 76 1Assigned' 5.06 5.06 6'N' "F . 300000 207900 500036078 pe"      MSRASSETVEHICLE1207 220,2013   7/25/2013        NaN      NaN      25.0        76.0       2.0    Assigned    5.06         5.06          NaN            N      F          NaN          NaN      2013.0         300000.0            207900               NaN       NaN
4         100           5          TSLNWESTMORTGAGECOTNC' 1262013 1222013 72 1Endorsed 4.99 4.99 oN F i a 240000 161040 2500359 "o2"                               NaN         NaN        NaN      NaN      72.0         NaN       1.0    Endorsed    4.99         4.99          NaN          NaN      F          NaN          NaN   1262013.0        1222013.0            240000               NaN       NaN

In [159]:
# Calculate the percentage of NaNs for each column
df2.isna().sum()

source_pdf               0
row_in_pdf               0
raw_text                 0
lender              193401
clsng_dt            349045
endrsmt_dt          597548
tmntn_dt            842623
Borr_Age            248292
Coborr_Age          522432
Borr_Cnt            248292
es_status           103894
int_rt              343452
int_rt_10yr         280398
hecm_margin         725161
pd_stmln_flg        344393
rt_typ              740648
arm_indx_typ        594651
arm_prdc_typ        922182
max_clm_amt         162751
init_prncpl_lmt     191794
hecm_orgntn_fees         0
prop_addr_zip_cd    454952
loan_typ            437600
dtype: int64

## df3 (Merged)

In [160]:
# Merge df1 with df2 on the key columns
df_merged = df1.merge(
    df2,
    on=['source_pdf', 'row_in_pdf'],
    how='left',
    suffixes=('', '_df2')
)

# List of columns to fill
columns_to_fill = [
    'lender', 'clsing_dt', 'endrsmt_dt', 'tmntn_dt', 'Borr_Age', 'Coborr_Age',
    'Borr_Cnt', 'es_status', 'int_rt', 'int_rt_10yr', 'hecm_margin',
    'pd_stmln_flg', 'rt_typ', 'arm_indx_typ', 'arm_prdc_typ', 'max_clm_amt',
    'init_prncpl_lmt', 'hecm_orgntn_fees', 'prop_addr_zip_cd', 'loan_typ'
]

# Fill NaN values in df1 columns with values from df2 columns
for col in columns_to_fill:
    col_df2 = f'{col}_df2'
    if col_df2 in df_merged.columns:
        df_merged[col] = df_merged[col].fillna(df_merged[col_df2])

# Add raw_text from df2 as raw_text2
if 'raw_text_df2' in df_merged.columns:
    df_merged['raw_text2'] = df_merged['raw_text_df2']
else:
    df_merged['raw_text2'] = np.nan

# Keep only the original df1 columns plus raw_text2
original_columns = df1.columns.tolist()
df3 = df_merged[original_columns + ['raw_text2']]

# Display result
df3.head()

   source_pdf  row_in_pdf                                                                                                            raw_text                    lender   clsing_dt endrsmt_dt   tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ                                                                                                  raw_text2
0         100           1               "GMFS LLC" 12/31/2012 2/25/2013 2/16/2017 64 1 “Terminated 5.06 5.06 oR uo 117000 74529 0 ‘36108 *02"                  GMFS LLC  12/31/2012  2/25/2013  2/16/2017      64.0        64.0       1.0  Terminated    5.06         5.06          NaN            R    NaN          NaN          NaN    117000.0          74529.0                 0           36108.0       2.0          OMFSLe" 12'31'2012 27252013 2/16/2017 64 1Terminated' 5.06 5.06 O'R fF i 7 7000 74529 Q3H10R "O2"
1         100           2  "ONE REVERSE MORTGAGE LLC’ 12/15/2012 1/25/2013 23 73 2 ‘Assigned 4.5 4.5 o'N’ r uo uo 200000 136200 o "36312 "02"  ONE REVERSE MORTGAGE LLC  12/15/2012  1/25/2013        NaN      25.0        73.0       2.0    Assigned    4.50         4.50          NaN            O      N            R          NaN    200000.0         136200.0                 0           36312.0       2.0  "ONEREVERSEMORTGAGEO007 12/15/2012 1/25/2013 73 73 2Assigned 4.5 4.5 oN fF i a 200000 136200 0363120 "O2"
2         100           3           "SUN WEST MORTGAGE CO_INC’ 1/11/2013, 3/4/2013 ca 1 ‘Assigned 5.3 5.3 oN i i a 130000 86710 0 '36571 "02"  SUN WEST MORTGAGE CO INC   1/11/2013   3/4/2013        NaN     111.0         NaN       1.0    Assigned    5.30         5.30          NaN            I      I            A          NaN    130000.0          86710.0                 0           36571.0       2.0            "SLNBESTMORTGAGECOINC 111.2013 3e4/2013 ti 1"Assigned 5.3 5.3 O'S "F ct "30000 86710 Q"S671 on"
3         100           4     “MSR_ASSET VEHICLE LLC’ 2/20/2013 7/25/2013 76 1 ‘Assigned 5.06 5.06 o IN’ Fr uo 300000 207900 5000 "36078 "02"     MSR ASSET VEHICLE LLC   2/20/2013  7/25/2013        NaN      25.0        76.0       2.0    Assigned    5.06         5.06          NaN            O      F          NaN          NaN    300000.0         207900.0                 0           36078.0       2.0      "MSRASSETVEHICLE1207 220,2013 7/25/2013 76 1Assigned' 5.06 5.06 6'N' "F . 300000 207900 500036078 pe"
4         100           5    "SUN WEST MORTGAGE CO_TNC’ 1/26/2013 4/22/2013 2 1_‘Endorsed 4,99 4.99 oN’ - — uo 240000 161040 2500 "35966 "02"  SUN WEST MORTGAGE CO INC   1/26/2013  4/22/2013        NaN      72.0         NaN       1.0    Endorsed    4.99         4.99          NaN          NaN      F          NaN          NaN    240000.0         161040.0                 0           35966.0       2.0          TSLNWESTMORTGAGECOTNC' 1262013 1222013 72 1Endorsed 4.99 4.99 oN F i a 240000 161040 2500359 "o2"

In [161]:
df3.columns

Index(['source_pdf', 'row_in_pdf', 'raw_text', 'lender', 'clsing_dt',
       'endrsmt_dt', 'tmntn_dt', 'Borr_Age', 'Coborr_Age', 'Borr_Cnt',
       'es_status', 'int_rt', 'int_rt_10yr', 'hecm_margin', 'pd_stmln_flg',
       'rt_typ', 'arm_indx_typ', 'arm_prdc_typ', 'max_clm_amt',
       'init_prncpl_lmt', 'hecm_orgntn_fees', 'prop_addr_zip_cd', 'loan_typ',
       'raw_text2'],
      dtype='object')

In [162]:
df3.isna().sum()

source_pdf               0
row_in_pdf               0
raw_text                 0
lender                 579
clsing_dt            56336
endrsmt_dt          103907
tmntn_dt            529633
Borr_Age            206511
Coborr_Age          509221
Borr_Cnt            206511
es_status              527
int_rt               88049
int_rt_10yr         172458
hecm_margin         522883
pd_stmln_flg         93679
rt_typ              304831
arm_indx_typ        495791
arm_prdc_typ        911423
max_clm_amt          26046
init_prncpl_lmt      93005
hecm_orgntn_fees         0
prop_addr_zip_cd     21567
loan_typ             12285
raw_text2             1684
dtype: int64

In [163]:
# Calculate the percentage of NaNs for each column
(df3.isna().sum() / len(df3)) * 100

source_pdf           0.000000
row_in_pdf           0.000000
raw_text             0.000000
lender               0.060021
clsing_dt            5.839955
endrsmt_dt          10.771304
tmntn_dt            54.903308
Borr_Age            21.407535
Coborr_Age          52.787341
Borr_Cnt            21.407535
es_status            0.054630
int_rt               9.127417
int_rt_10yr         17.877502
hecm_margin         54.203584
pd_stmln_flg         9.711040
rt_typ              31.599674
arm_indx_typ        51.395148
arm_prdc_typ        94.480778
max_clm_amt          2.700005
init_prncpl_lmt      9.641171
hecm_orgntn_fees     0.000000
prop_addr_zip_cd     2.235698
loan_typ             1.273499
raw_text2            0.174568
dtype: float64

## Borr_Age

In [164]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['Borr_Age'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['Borr_Age'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 55) & (valid_ages <= 97)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for Borr_Age in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside 55-95: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside 55-95: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for Borr_Age in df3 ---
Total Rows: 964665
Number of NaNs: 206511 (21.41%)
Values Inside 55-95: 482515 (50.02%)
Values Outside 55-95: 275639 (28.57%)

In [165]:
def normalize_ocr_text(text):
    """Apply common OCR error corrections to text."""
    if pd.isna(text):
        return ""
    text = str(text)
    
    # Common OCR character substitutions
    corrections = {
        'O': '0',
        'o': '0',
        'S': '5',
        's': '5',
        'I': '1',
        'l': '1',
        '|': '1',
        'B': '8',
        'b': '8',
        'Z': '2',
        'z': '2',
    }
    
    corrected = []
    for char in text:
        corrected.append(corrections.get(char, char))
    
    return ''.join(corrected)

def extract_age_from_raw_text(raw_text):
    """
    Extract Borr_Age from OCR text with robust error handling.
    Returns the first valid age found (61-95), or None if none found.
    """
    if pd.isna(raw_text):
        return None
    
    # Normalize OCR errors
    normalized = normalize_ocr_text(raw_text)
    
    # Extract all potential numeric tokens
    # Look for sequences of digits, possibly with separators/noise
    tokens = re.findall(r'\d+', normalized)
    
    valid_ages = []
    
    for token in tokens:
        try:
            value = int(token)
            # Check if in valid age range
            if 61 <= value <= 98:
                valid_ages.append(value)
        except (ValueError, OverflowError):
            continue
    
    # Return first valid age found (left-to-right ordering preserved)
    if valid_ages:
        return valid_ages[0]
    
    # If no valid ages found with basic extraction, try more aggressive cleaning
    # Look for 2-digit sequences that might be ages with noise
    potential_ages = re.findall(r'\b(\d{2})\b', normalized)
    
    for age_str in potential_ages:
        try:
            value = int(age_str)
            if 61 <= value <= 98:
                return value
        except (ValueError, OverflowError):
            continue
    
    # Try to find ages embedded in longer digit sequences
    # Extract all 2-digit substrings from longer numbers
    for token in tokens:
        if len(token) >= 2:
            for i in range(len(token) - 1):
                two_digit = token[i:i+2]
                try:
                    value = int(two_digit)
                    if 61 <= value <= 98:
                        return value
                except (ValueError, OverflowError):
                    continue
    
    return None

# Process rows where Borr_Age is NaN or out of valid range
for idx in df3.index:
    current_age = df3.at[idx, 'Borr_Age']
    
    # Check if row needs correction
    needs_correction = False
    
    if pd.isna(current_age):
        needs_correction = True
    else:
        try:
            age_val = float(current_age)
            if age_val < 61 or age_val > 98:
                needs_correction = True
        except (ValueError, TypeError):
            needs_correction = True
    
    # If row needs correction, attempt to extract from raw_text2
    if needs_correction:
        raw_text = df3.at[idx, 'raw_text']
        extracted_age = extract_age_from_raw_text(raw_text)
        
        if extracted_age is not None:
            df3.at[idx, 'Borr_Age'] = float(extracted_age)

In [166]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['Borr_Age'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['Borr_Age'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 55) & (valid_ages <= 97)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for Borr_Age in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside 55-97: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside 55-97: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for Borr_Age in df3 ---
Total Rows: 964665
Number of NaNs: 10527 (1.09%)
Values Inside 55-97: 942894 (97.74%)
Values Outside 55-97: 11244 (1.17%)

In [167]:
rt = '''[FINANCIAL FREEDON SENIOR FUNDING corp’ | 6/4/2007] 7/7/2007|__3/o/eors|_ 80] 9] | Terminated’ | 6.07] if fu ay 610007 az983.63[ of'2383a_ "02"'''
extract_age_from_raw_text(rt)

80

In [168]:
# Convert the column to the nullable integer type
# This removes the .0 and keeps NaNs as <NA>
df3['Borr_Age'] = pd.to_numeric(df3['Borr_Age'], errors='coerce').astype('Int64')
df3[df3['source_pdf'] == 10020][['row_in_pdf','raw_text', 'raw_text2','Borr_Age', 'Coborr_Age', 'hecm_margin']].head(40)

C:\Users\Amit\AppData\Local\Temp\ipykernel_21612\3247474442.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Borr_Age'] = pd.to_numeric(df3['Borr_Age'], errors='coerce').astype('Int64')

      row_in_pdf                                                                                                                                                    raw_text                                                                                                   raw_text2  Borr_Age  Coborr_Age  hecm_margin
1788           1             [FINANCIAL FREEDON SENIOR FUNDING corp’ | 6/4/2007] 7/7/2007|__3/o/eors|_ 80] 9] | Terminated’ | 6.07] if fu ay 610007 az983.63[ of'2383a_ "02"                     PJAMESBONETTERANDComPANYT627/2007k/6/200716/13/z017TB2Terminated5.95f9TINts00tosesfse02        80         NaN          NaN
1789           2                     [TJAMES B NUTTER AND COwPANY’ | 6/27/2007] 8/6/2007 | 6/is/aor7| 8] 8] | Terminated’ | 5.95) 569 an aye t68500[tosssi [of '23832 "02" |          PPINANCLALFREEDOMSENTORFENDINGCoRP'T6/6/2007T/un/2oo7asveoieatTerminated608BttonoPtsaszofenronf02"        71         NaN          NaN
1790           3                  [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 6/6/2007] 7/1/2007 | 7/as/eore| 8a] | | Terminated’ | 6.08) 5 8nf tnt ay p00 tas] of '23701 "02"  PFINANCIALFREEDOMSENTORFUNDINGCoRP'T6/15/20077/19/2007B/eavaor7atT22Terminated'6.09fTINztooszegatfe366602"        70         NaN          NaN
1791           4          [TEINANCIAL FREEDOM SENIOR FUNDING Corp’ | 6/15/2007] 7/i9/2007|e/2s/a0r7| ta] 2 | | Terminated’ | 6.00) 5 8nfe fnayeais00[ trees] 0 [23666 "02" |                             PFINANCIALFREEDOMSENTORFENDINGCoRPT6202007TeszoortttindorsedPettooooPazsoesono2        71         NaN          NaN
1792           5                        [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 6/20/2007] 7/aa/aoo7|_ | a] | a |"Endorsod @] | i] tnt tay | stoo00| sazgo] of '23501 "02"                  PJAMESBNUTTERANDComPANY'T7/19/20078/27/2007avizvzoz0o7Terminated'5PNtato00topgz7f22727f02"        71        27.0          NaN
1793           6                               [JAMES B NUTTER AND CompANY’ | 7/9/2007] 8/27/2007] 4/7/aoz0| az | az | Terminated’ | 6] Pan ay arto00 | togga7{ of a27a7 on"                 PFINANCIALFREEDOMSENTORFENDINGCorP'T612007To/zoo7avevazoo96Tt2TerminatedaTwsn00Psttasea69o2      <NA>         NaN          NaN
1794           7                  [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 6/1/2007] 7/10/2007| 3/6/2009] 6] | | "Terminated | 6.45] a] tnt tay | s000[ sats] a '23669 "02"                               PJAMESBNUTTERANDCompasyT31/20077/3/20071setssigned5957PNt000078600f'2tgzof02"        71         NaN          NaN
1795           8                                                   [JAMES B NUTTER AND CompANY’ | 5/3 /2007|7/a/zoo7| Pg Assigned *s95[ er] anh iy o0000|za6o0 of '24430 02"                   PSEATTLEMORTGAGECoMPANY'Tt2007earzoo7gvasv2oi6oTTerminated6.95awasvoTisseriesofe37o3fto2"        71         NaN          NaN
1796           9                            ['SEATTLE NoRTGAGE company’ | 6/4/2007] 7/23/2007! ovae/2oie| 0] | | Terminated’ | 5.95) 5a] att tay | tss00/ asses] 29703 |*o2"                   PWELLSFARGOBANKNAY524/20076/ig/2z0073v30vzorz3tTerminated5.86f565Naig9000ftzgsg7'23as2foe        95         NaN          NaN
1797          10                                        [WELLS FARGO BANK NAT 5/24/2007] 6/19/2007] 3/a0/aoi2| | | Terminated’ | 5.86 65] NT way 99000] agoso7{ of aaanz 02"                    PRINANCIALFREEDOMSENTORFENDINGCoRP'T6192007Traar20o7a/sovaorsTTTevminatedNeesersotisso02        86         NaN          NaN
1798          11            [FINANCIAL FREEDOM SENIOR FUNDING corp’ ___|__6/19/2007| 7/24/2007] 9/a0/a0is] tf | | Terminated’ | 1] st] teh yh yt 61725] iveiao/ | '23860 02"                  PAMERICANHOMEBANK.NAY8/81/20076/22/20072v2o/zo1e78ATerminated'S.95fRENt20000gazzof2asaf02"        81        22.0          NaN
1799          12                                   [TAMERICAN HOME BANK NA’ 5/1/2007] 6/22/2007] 7/20/a016| | 82] | Terminated’ | 5.95] os] we ay 20000] gazzo of 'azana 02"              PFINANCIALFREEDOMSENTORFUNDINGCoRP'T64/20077/a007ta/e/aors68TTATevminated5.95REN000tgtrseazsao        82         NaN          NaN
1800          13                | FINANCIAL FREEDOM SENIOR FUNDING corp’ | _6/4/2007| _7/9/2007| 12/8/2015] 8] 72| | Terminated’ | 5.95] 68] sn) yh yt 5000) agus] 23234 02"                              PPIRSTMARINERBANK'w18/2007gvearzoo7tTwttEndorsedS.98fR261725Tozez.gsf23ongf02"        95         NaN          NaN
1801          14                                                    [TRIRST MARINER BANK’ 6/45/2007 9/2a/z007| || a ndorsed "| 598] es] ways 261725] vosaz.g8[ a '2a059 "02"                      PFINANCIALFREEDOWSENTORFENDINGCoRP'T7gzoo7sasveoo7Endorsed"P5.95RTN5000tso97sof2a60202        71         NaN          NaN
1802          15                           ["PINANCTAL FREEDOM SENIOR FUNDING corp’ | 7/9/2007 8/15/2007] | tf | 'Bndorsed "| 5.95] 8] teh yh yt | 335000/ eos of '22602 02"                                    PWELISFARGOBANKNAYT7/20077/9/z007PTTndorsed5.96fotNer000tsezs7f23320f02"        95         NaN          NaN
1803          16                                              [WELLS FARGO BANK NAT 6/7/2007] 7/a/a007| || | | Endorsed “| 5.96] eof anh wh ays a27o00|asess7{ a '23320 "02"                    PWELLSFARGOBANKNAYT6/20077/5/200713/5/2012T4tOL2Terminated'5.9655PNa838500tg26f23ieef02"        71         NaN          NaN
1804          17         |"PINANCTAL FREEDOM SENIOR FUNDING CORP’ | _ 5/30/2007] 7/5/2007| 5/15/2020] 95| 83] 2 | Terminated’ | 6.45] 9] teh yh yt p05000/ 5585] f'23452 02"              PPINANCIALFREEDOMSENTORFUNDINGcoRP'T620/20077/31/2z007avavaoi77tTerminated609wwt500aoaasaaf02"        95        83.0          NaN
1805          18                                [WELLS FARGO BANK NAY 6a /2007| 7/5/2007] 3/5/ao1z| taf 0] | Terminated’ | 5.96] 565] a NT ways araso0faaigz6[ a f'a3ias 02"                    PWELLSFARGOBANKNAY620/20077/12/20072/25/20156822Terminated'5.9855fNat0000ztgoof22835f02"        96         NaN          NaN
1806          19                        |"PINANCTAL FREEDOM SENIOR FUNDING CORP’ |_ 6/20/2007 _7/31/2007| _3/8/aoi7|_ | | Terminated’ | 6.09 tf teh yh ey 0500 sstao o's 02"                           PJAMESBUTTERANDcowPaNyo20076/2z0072vasveoieatTerminated8.95TPwtoossta2tofe3sseo2"        71         NaN          NaN
1807          20                         ['WELLS FARGO BANK NAT | 6/20/2007] 7/12/2007] 2/25/2015] 76] 82 | | Terminated’ | 5.98) 5.65) aN ay t80000/asigoo| of 22835 "on" |                           PJAMESB.NUTTERANDComPANY'T6/7/20077/a5/zoo7,Ta6Assigned6.46SN'200000z600f2383602"        76         NaN          NaN
1808          21                        "JAMES B NUTTER AND COMPANY’ | 6/1/2007] 8/6/2007 | avas/eone| 73] | | Terminated’ | 5.95) 5.67] at ay azo] ass6a.e] of '23as2_ "02"                   PPINANCIALFREEDOMSENTORFUNDINGcorPovtar2o07tovtozoo7fTndorsedP827awt0000ftzesaotf22tos02"        73         NaN          NaN
1809          22                                             [TAMES B NUTTER AND COPANY’ | 6/7/2007] a/as/aoor] ta] | Assigned TP 6.46) Pe fina 2000001336000 f'23836 "02" |                                  HELLSFARGOBaNAS8a206tsanorj/i"Assianed"7/s.9,.6571y0oyysaoo"1g80a"2a3"1"g"        83         NaN          NaN
1810          23                      [FINANCIAL FREEDON SENIOR FUNDING corp’ | 9/14/2007] to/io/aoor| | eo] || Bndorsed T]5.27] as P ant ay t80000/ tezzsgo] of '22408 "02"                  FINANCIALFREEDOWSENTORFUNDINGCoRP'T7etgvzoo7pverzoov7fTstendorsed"T6093Pwtooozatofe3502f0e        80         NaN          NaN
1811          24                                                             [WELLS FARGO BANK NAT tz /a007|6/is/a0o7[ a] assigned TY seo 565 nay rza000 [1330/0 f'2aiss oa"                              WELLSFARGOBAKNAug/z0077viivezoo7tTatEndorsed5.98f55PNTa204000fe77oatf'23320f02        71         NaN          NaN
1812          25                   [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 7/18/2007] _s/e/2oo7|_ | es] || Endorsed ' | 6.00) 5.93 9 tnt tay | trzoo0| ssa] of '23502 "02"                     PWELLSFARGOBANKNAYS2a20076/19/20073vi7/zornbztTerminated'5.865SfNt5000aeaonoff23zznf02"        93         NaN          NaN
1813          26                                                   [TWELLS FARGO BANK NAY a yoo07 | z/ui/eoo7| | wat Endorsed "ssf es] anh we ay 0400] te7zoat a f'23320 02"                           PWELLSFARGOBANKNAU8/2007775/20071i6v2oisattTerminated'5.96SfNwg00abazaf'2346gf02"        71         NaN          NaN
1814          27                           ['WELLS FARGO BANK NAY 5/24/2007] 6/9/2007] sav/eou| gz] | | Terminated’ | 5.86) 5.65] att wt aye | z5000| zeaoro| of '23321 "02"                         WELLSFARGOBANKNAY20077/9/200716/26/201586tTerminated'5.985SN006064331.36f'23336f02"        86         NaN          NaN
1815          28                                    ['WELLS FARGO BANK NAY 6/8 /2007| 7/5/2007] a/ae/aois| a] | Terminated’ | 5. 96{ 65] anh way 4000] tasasal of" aaa6a 02"             'FINANCIALFREEDOMSENIORFUNDINGcoRPy6/14/20077/23/20071wtTBndorsed.ont8fNw309000peigif'23188t02"        96         NaN          NaN
1816          29                                ['WELLS FARGO BANK NA’ | 4/2007] 7/9/2007 | 626/205] 86] | | Terminated’ | 5.98) 5.65] att tv ooo] istsai.s6] o'23336_* "02"                FINANCIALFREEDOMSENIORFUNDINGcorPvtsv20077/iz/zoovfT8tEndorsed"8.998fw3000tzozsatf'2n017f02"        86         NaN          NaN
1817          30                            ["RINANCTAL FREEDOM SENIOR FUNDING CORP’ | 6/14/2007 7/aa/2007| | wf | Endorsed "or es] nh we iy 309000/asaisi[ a f'23ias * [o2"                          SEATTLEMORTGAGECOMPANY'T6N/20077/30/20071tEndorsed5.96f5SLNay'T99000z0g1'23430f02"        71         NaN          NaN
1818          31                                 [FINANCIAL FREEDOM SENIOR FUNDING CORP’ | 6/ti/2007|7/i7/zoo7|_ | | | Endorsed "| 5.99] 8} th yh yt 53000) tzozss| 2401702"                    FINANCIALFREEDOMSENIORFUNDINGcorPy615/20077/20/2007TttEndorsedn8fNw5000f5225ff'2a236f02"        71         NaN          NaN
1819          32                                            [SEATTLE MORTGAGE COMPANY’ | 6/4/2007 7/a0/2007| | wef a ndorsed "5 96f es] anh way 99000] aszog1 [of '23430 02"                  SIDUSFINANCIALLLC'7220077/31/200712/26/202182Terminated'5.965.68fNa'T00160157325.76'2aanon        96        26.0          NaN
1820          33                          | FINANCIAL FREEDOM SENIOR FUNDING corp’ | 6/15/2007] 7/20/2007} | tf | Endorsed *] orf] 8} ss th yh yt | s5000/ _sgz25] 24236 02"        FINANCIALFREEDOMSENTORFLNDINGcorPyT531200779/2007930/201573TTTevminated'5.958Ewron00zosiof'22630f02"      <NA>         NaN          NaN
1821          34                                   [*SIDUS FINANCIAL LLC’ 7/2/2007] 7/ai/2007| 2/26/z0n1] | | Terminated’ | 5.96] 8] onthe yt p00160]aszaz5.76[ of '2asa [or     /BANKOFAMERICANACHARLOTTE'T9/13/200711/13/20077/9/2019oTtTerminated'5.525.73fsNwayTa300tgz52f'23434f02"        96         NaN          NaN
1822          35  |"PINANCTAL FREEDOM SENIOR FUNDING CORP’ ___|_5/31/2007| _7/9/2007| 9/30/2015] 3] | | Terminated’ | 5.95] 5.68] teh yh yt a7o000/ isagiof ao f'22630 *fo2"                          PWELLSFARGOBANKNAU628200783/2007VIzv2o1g76LTerminated'5.95St05000arrpa.sif'23323on        95         NaN          NaN
1823          36                        "BANK OF AMERICA NA CHARLOTTE’ | 9/4/2007] 11/13/2007] 7/o/aoig| of | Terminated’ | 5.5273 a5 nh tw ays pazo00|aeiss2{ of 'a3aga 02"                WELLSFARGOBANKNAY625/20077/23/200719/18/20096tTerminated'5.985.5fNwtayT85000229950'22405f02"        73        18.0          NaN
1824          37                              ['WELLS FARGO BANK NA’ 6/28/2007 8/3/2007] 9/i2/ao1a]| | | Terminated’ | 5.95] 5.65] ah yh ee yt 205000] ar7easif of'23323 oa’                                           PWELLSFARGOBANKSAU02007T62007tndorsed5.98twaz3000sg605f'23321f02"        95         NaN          NaN
1825          38                                [WELLS FARGO BANK NAY 6/25/2007] 7/23/2007] 9/is/eoo9| m6 | Terminated’ | 5.98] 565] a NT we ays ai5000[ 29950 of 'a2405 02"              FINANCIALFREEDOMSENIORFUNDINGcorP'6/20/20077/25/200715HAssigned6.03t8fSw85000ttozeof'23075f02"        91        25.0          NaN
1826          39                                          [WELLS FARGO BANK NA’ 6/20/2007] 7/16/2007] | tf | 2 Bndorsed "| 5.98] 565] at tye yt p33000/ 159605] f'23321 fon"                          PLIVEWELLFINANCIALINCh5200717/2007dovaraoisTTevminated5.94TATt000tnzg0ff'23025f02"        98         NaN          NaN
1827          40                        ["BINANCTAL FREEDOM SENIOR FUNDING CORP’ | 6/20/2007| 7/25/2007] | | ta] | Assigned “| 603] es] NY wh ays as5000[tnos6ofof'23075 02"   FINANCIALFREEDOMSENIORFUNDINGcorP7/9/20078/15/20078/3i/2o1e79Terminated'5.9758fNwTyton00t0620ff'23434f02"        81         NaN          NaN

## CoBorr_Age

In [169]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['Coborr_Age'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['Coborr_Age'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 55) & (valid_ages <= 95)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for Coborr_Age in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside 55-95: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside 55-95: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for Coborr_Age in df3 ---
Total Rows: 964665
Number of NaNs: 509221 (52.79%)
Values Inside 55-95: 353049 (36.60%)
Values Outside 55-95: 102395 (10.61%)

In [170]:
def normalize_ocr_text(text):
    """Apply common OCR error corrections to text."""
    if pd.isna(text):
        return ""
    text = str(text)
    
    # Common OCR character substitutions
    corrections = {
        'O': '0',
        'o': '0',
        'S': '5',
        's': '5',
        'I': '1',
        'l': '1',
        '|': '1',
        'B': '8',
        'b': '8',
        'Z': '2',
        'z': '2',
    }
    
    corrected = []
    for char in text:
        corrected.append(corrections.get(char, char))
    
    return ''.join(corrected)

def extract_coborr_age_from_raw_text(raw_text, borr_cnt):
    """
    Extract Coborr_Age from OCR text with conservative logic.
    Only returns a value if Borr_Cnt indicates 2 borrowers AND two valid ages found.
    Returns None otherwise.
    """
    if pd.isna(raw_text):
        return None
    
    # Critical check: only proceed if Borr_Cnt is 2
    if pd.isna(borr_cnt):
        return None
    
    try:
        borr_cnt_val = int(borr_cnt)
        if borr_cnt_val != 2:
            # Single borrower - no co-borrower should exist
            return None
    except (ValueError, TypeError):
        return None
    
    # Normalize OCR errors
    normalized = normalize_ocr_text(raw_text)
    
    # Extract all potential numeric tokens
    tokens = re.findall(r'\d+', normalized)
    
    valid_ages = []
    
    for token in tokens:
        try:
            value = int(token)
            # Check if in valid age range
            if 61 <= value <= 95:
                valid_ages.append(value)
        except (ValueError, OverflowError):
            continue
    
    # Must find exactly 2 or more valid ages for co-borrower to exist
    if len(valid_ages) >= 2:
        # Return second age (first is borrower, second is co-borrower)
        return valid_ages[1]
    
    # If no valid ages found with basic extraction, try 2-digit boundaries
    potential_ages = re.findall(r'\b(\d{2})\b', normalized)
    
    valid_ages_alt = []
    for age_str in potential_ages:
        try:
            value = int(age_str)
            if 61 <= value <= 95:
                valid_ages_alt.append(value)
        except (ValueError, OverflowError):
            continue
    
    if len(valid_ages_alt) >= 2:
        return valid_ages_alt[1]
    
    # Try embedded 2-digit sequences as last resort
    embedded_ages = []
    for token in tokens:
        if len(token) >= 2:
            for i in range(len(token) - 1):
                two_digit = token[i:i+2]
                try:
                    value = int(two_digit)
                    if 61 <= value <= 95:
                        embedded_ages.append(value)
                        if len(embedded_ages) >= 2:
                            return embedded_ages[1]
                except (ValueError, OverflowError):
                    continue
    
    # Not enough valid ages found - no co-borrower age available
    return None

# Process rows where Coborr_Age is NaN or out of valid range
for idx in df3.index:
    current_coborr_age = df3.at[idx, 'Coborr_Age']
    
    # Check if row needs correction
    needs_correction = False
    
    if pd.isna(current_coborr_age):
        needs_correction = True
    else:
        try:
            coborr_age_val = float(current_coborr_age)
            if coborr_age_val < 61 or coborr_age_val > 95:
                needs_correction = True
        except (ValueError, TypeError):
            needs_correction = True
    
    # If row needs correction, attempt to extract from raw_text2
    if needs_correction:
        raw_text = df3.at[idx, 'raw_text']
        borr_cnt = df3.at[idx, 'Borr_Cnt']
        
        coborr_age_extracted = extract_coborr_age_from_raw_text(raw_text, borr_cnt)
        
        # Only populate if we have a valid extraction
        if coborr_age_extracted is not None:
            df3.at[idx, 'Coborr_Age'] = float(coborr_age_extracted)
        else:
            # Explicitly set to NaN if Borr_Cnt is 1 or no valid second age found
            df3.at[idx, 'Coborr_Age'] = pd.NA
            
# This removes the .0 and keeps NaNs as <NA>
df3['Coborr_Age'] = pd.to_numeric(df3['Coborr_Age'], errors='coerce').astype('Int64')

C:\Users\Amit\AppData\Local\Temp\ipykernel_21612\3392012893.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Coborr_Age'] = pd.to_numeric(df3['Coborr_Age'], errors='coerce').astype('Int64')

In [171]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['Coborr_Age'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['Coborr_Age'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 55) & (valid_ages <= 95)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for Coborr_Age in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside 55-95: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside 55-95: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for Coborr_Age in df3 ---
Total Rows: 964665
Number of NaNs: 530396 (54.98%)
Values Inside 55-95: 434269 (45.02%)
Values Outside 55-95: 0 (0.00%)

In [172]:
df3[df3['source_pdf'] == 10025][['row_in_pdf','raw_text', 'raw_text2','Borr_Age', 'Coborr_Age', 'hecm_margin']].head(30)

      row_in_pdf                                                                                                                                                       raw_text                                                                                                   raw_text2  Borr_Age  Coborr_Age  hecm_margin
2118           1                                             ['WELLS FARGO BANK NAY t7/a007] 8/9/2007 | s/to/eor7] bat Ta Terminated’ | 6] aa ay 2600007 a7eso] oo f'23a62 "02"                               PWELLSFARGOBANKNATTarz007avgrzoo7snovaor7watTerminatedOe0000ftaoxotfesaeef02"        62        <NA>          NaN
2119           2                            [TJAMES B NUTTER AND CowPANY’ | 8/3/2007] 10/16/2007 | 97/30/2009] so] Ta | terminated’ [on] 588] aye r40000 [i600 0 f*2323a "oa" |             PJAMESBONETTERANDCompasyT8/320071o/16/200719/30/z009BTtTerminateds.91fREINwttooo0Tttsg00ffszzao        97        <NA>          NaN
2120           3                  [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 7/25/2007] _8/13/2007| 12/3/2008] go] | | Terminated’ | 6.02) 6.06] sf) ay 3500/75] of '23455_ "02"     PPINANCLALFREEDOMSENIORFENDINGCoRPT7/25/2007xvi3/zoo7ta/aveoonwtTerminated6.02etRwasso0tgtgtsfenassf02"        75        <NA>          NaN
2121           4                     [TFINANCIAL FREEDOM SENIOR FUNDING CORP’ | 10/12/2007] 11/16/2007 ni/a/aoro| to] Pa | terminated [12] fa aye s0000[6o6t0 [0 f'2323a "oa" |            PFINANCIALFREEDOMSENTORFUNDINGCoRP'tov2/2007i/i6/2007i/a/zorofotTerminated5.12fTPINo00wsoff3z3ao      <NA>        <NA>          NaN
2122           5                                    "PACIFIC REVERSE MorTcaGE Inc’ | 8/8/2007] 9/us/aoo7|] | a] | Endorsed '] 6.33) a7] tt tay | t80000/ tiea6o] of '24590 "02"                                   PPACIFICREVERSEMORTGAGEINC'TR2007tzoo7faTndorsedP8Tewtso000tiaeozas90fo2"        71        <NA>          NaN
2123           6                                             [WELLS FARGO BANK NAT 9/13/2007] 10/4/2007| 4/20/a0i5| | | Terminated” | sa7f as] ane we iy aiso00|azo740[ faa 02"                     PWELLSFARGOBANKNAY9/13/200710/4/20071avzorz01587Terminated'5.275a8Na000tgzaoff23955f02"        71        <NA>          NaN
2124           7                         ['JAMES B NUTTER AND CowPaNY’ | 7/26/2007] 8/31/2007! 12/9/2016] go] | | Terminated’ | 5.99) 603} a tay | st5000| zo5| io f'23222 "on"                             PJAMESBANUTTERANDCoMPANY'26200731/ezoo7a/gvaoreotTerminated99awtsovoPgtzosezz2o      <NA>        <NA>          NaN
2125           8                                     | FINANCTAL FREEDOM SENIOR FUNDING CORP’ | 8/20/2007| 9/13/2007] | taf a Rndorsed 8] 8 sro nh way atz000| aaa o[*22630 02"               PFINANCIALFREEDOMSENIORFUNDINGCoRPT8/20/20079/13/2z007PtEndorsed"S8tBTozNz000tsasgaf22630f02"        71        <NA>          NaN
2126           9                                  ['JAMES B NUTTER AND cowpaNy’ | 8/40/2007] 9/ai/2007| avai/eoz0| mo] | | Terminated’ | 5.83) 77] at ay 000 atssi6| 23607 "02"                             PJAMESBNUTTERANDCoMPANY'T2007grerzoo7avzt/azoz0OTTerminateda8TTwsp00Pasie607o2T        83        <NA>          NaN
2127          10                                                        [WELLS FARGO BANK NAT | r/26/2007|g/iv/aoo7| || | Endorsed "| sof afar iy YT s3000|goaza[ a f'2a707 02"                                  PWELLSFARGOBANKNAY26/2007sviz/zoo7TwsEndorsed5.99fPa53000Tgoazgto'23707fon        71        <NA>          NaN
2128          11                                     "PACIFIC REVERSE woRTGAGE INc'___— | g0/4y2007| ui/2/2007|_ | | | Endorsed "| 5.05] | hh yt Ts ro000/ ttagz0f a '23509 02"                                    PPACIFIC.REVERSEMORTGAGEINC'Ttap007tarazno7woEndorsedP505NtrooFttgzaeo90        71        <NA>          NaN
2129          12                       ["FINANCTAL FREEDOM SENIOR FUNDING CORP’ | 8/3/2007 8/30/2007] 6/s/ao10| | | Terminated’ | 5.96] 93] teh we iy 60000] 2640 of 'a3221 02"        PINANCIALFREEDOMSENIORFUNDINGcorPT8/3/20078/30/2007evisvzo1o62tTTerminated'S.96f3PNt0000gztofza1f02"        96        <NA>          NaN
2130          13  | FINANCIAL FREEDOM SENIOR FUNDING CORP’ | 7/25/2007] 8/13/2007| _9/ia/aoi7]|_— | 80| | Terminated’ | 6.02] 5.93) ns 'yh yt yt | atz000/ _isgooo/ 23669 |'02"             PFINANCIALFREEDOMSENTORFUNDINGCoRP'725/2007xia/ao07gvta/aorzRTOTevminated6.02TNtz00tsgoooasso02        93        <NA>          NaN
2131          14               ["FINANCTAL FREEDOM SENIOR FUNDING CORP’ | 7/26/2007] 8/23/2007| 7/15/2020| 2 | 7a] | "Terminated’ | 6.02{ 06] nh wh ays 33500] 065965 23456 02"       PINANCIALFREEDOMSENIORFUNDINGcorP7/26/20078/23/20077/i5v20z0728Terminated'.o2f6fNw00onsge.5f234s6f02"        71          65          NaN
2132          15                                     “JAMES B NUTTER AND ComPaNY’ __ | 7/26/2007] 8/24/2007] | | | | Endorsed "| 5.99 3} ath yh yt 73000/ to3go0f of '24326 02"                                  PJAWESBMLTTERANDCompANy76z0078earzoo7TEndorsed"5.99atz000tozzoofof'2azze02        73        <NA>          NaN
2133          16                  | RINANCTAL FREEDOM SENIOR FUNDING CORP’ | 9/13/2007 10/18/2007] 3/i/aoai| | | Terminated’ | 5.27] as] anh ty ays go7o00|zozs9| of '2aiza 02"     PFINANCIALFREEDOMSENIORFUNDINGCoRP'T9/13/200710/18/200713/1/zoz1otTerminated5.27f5atNt7000ozg9fgtzgf02"        70        <NA>          NaN
2134          17                               | PINANCTAL FREEDOM SENIOR FUNDING CORP’ ___|_9/24/2007| 10/30/2007] | | | Bndorsed "55 az} at yh pe yt goof basso of '2az24 02"                       PPINANCIALFREEDOMSENTORFUNDINGCoRP'Tp2arzoo7tozovzoorfTRndorsedP85wp00wazsooaazanf02"        71        <NA>          NaN
2135          18                                [WELLS FARGO BANK NAY 7/25/2007] 8/16/2007] 7/2i/eoz0| 2 | 75] | "Terminated’ | 5.99 af anh wh ays 61725] 7ea7é7a{ a '23009 02"                   PWELLSFARGOBANKNAY7/25/20078/16/200717/21/2020725Terminated'5.99f3tNesrea76.7ef'23009f02"        75          61          NaN
2136          19                                   [WELLS FARGO BANK NA’ 7/25/2007] 8/16/2007] 11/18/2015] tif | 2 | "Terminated’ | 5.99 03 ah yh ee yt 35000 87615] f'23222 02                             PWELLSFARGOBANKVATe2007ate/2z007ivigyeoisT6LTerminated.99swtso00Ptmisf23222f02"        87        <NA>          NaN
2137          20                                               [NCOUNTRYWIDE BANK FSB’ | 7/28/2007] 9/25/2007] ovens] 88] | Terminated’ | 6] ta] aye 800007700] of 2gaza "on" |                           PCOUNTRYWIDEBANKFSBY723/20079/25/20071/9/zoraTTerminated'6eNt0000z77ooff23g3af02"        88        <NA>          NaN
2138          21                                           ("LIVE WELL FINANCIAL INC’ | 7/23/2007] 9an/aoor|] | 2] | | "Endorsed § {6} sa} att ay 220000/ dons] of '23435_ "02"                                          PLIVEWELLFINANCIALENCeeraoo7gvan/zoorf2TndorsedPw0000tsogofazg502"      <NA>        <NA>          NaN
2139          22      [TFINANCIAL FREEDOM SENIOR FUNDING CORP’ | 7/26/2007] 8/15/2007|17a5/a016| 88] | | Terminated’ | 6.02) 606 os fine Pr aye a9z000[aao7sa[ of '2sas2 "oa" |  FINANCIALFREEDOMSENIORFUNDINGCoRP'T7/26/20078/15/20071/25/201688TTerminated'6.026.6NaTgz000zgazf'23as2f02"        88        <NA>          NaN
2140          23                                               ['WELLS FARGO BANK NAY | zyaoo7|s/iz/aoor|] | to] ta |"Endorsed '] 5.90) 03 ant ay at5000/ 6555] of '23435_ "oe"                                      PWELLSFARGOBANKVANeeerzoo7aiz/zoo7fOandorsed8.99stw000Pssssofa3a3502"T        90        <NA>          NaN
2141          24                                                          [TLIVE WELL FINANCIAL INGT | 24/2007] o/r/aoor[ ea] indorsed TT s.90[ 03a nae 20000220800 [23103 "oa"                           LIVEWELLFINANCIALIXC'7/24/20079/7/2007wtEndorsed5.99f3tNaT220000tzzggof'23103f02"        90        <NA>          NaN
2142          25             [FINANCIAL FREEDOM SENIOR FUNDING corp’ ____—i| 8/30/2007] 9/as/aoo7|_ | ss] | Endorsed ' | 5.22) 5.68] tnt wt tay | a30000/ tss20] of '235is "on"                 FINANCIALFREEDOMSENTORFUNDINGcorPT830/2007gresrzoo7fTwstndorsed5.22sfw30000ftaszof23sisf02"        71        <NA>          NaN
2143          26                                               [WELLS FARGO BANK NAT 7/23/2007] 8/15/2007] s/ie/eois| | | Terminated’ | 6] aa ays papas] asza.7s[ a 'aa4e2 "on"                       WELLSFARGOBANKNAu7/23/20078715/2007s/ie/zoig8tTTerminated'NTa2g525074372.75of'23g6202        75        <NA>          NaN
2144          27                       [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 9/1/2007] 9/a7/aoo7| | ti] | a |"Endorsod ' | 5.22) 5.68] os tnt tt ay 00] gzigs.5| 23607 "02"                  FINANCIALFREEDOMSENIORFUNDINGcoRPv2007gva7/ezoo7TT2Endorsed"5.225.8feNwtptoois.sf23607f02"        71        <NA>          NaN
2145          28                                          [WELLS FARGO BANK NAY 7/25/2007 8/7/2007] a/s/aoie| | | Terminated’ | 5.99 os} anh iy 362790] 6sigo.49[ of '20186 02"              FWELLSFARGOBANKNAY725/20078717/20071a/svaoie7oLTerminated'5.99fsfwy862790265199.49f'20186ft02"        65        <NA>          NaN
2146          29                               [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 7/26/2007] 8/13/2007] | 3] | Endorsed '] 5.99) a] att aye | 50000/ 700] of '23324 "on"                    FINANCIALFREEDOMSENIORFUNDINGcoRP'T7/26/20078vizvzoo7TTEndorsed"8.99t0000p7o0ff2332nf02"        70        <NA>          NaN
2147          30                                             [WELLS FARGO BANK NAY 7/20/2007] 8/13/2007] 7/a0/2009| | Ta] | Terminated’ | 6] Pan we yt 3 ras00]aogesat [aan 02"                          FWELLSFARGOBANKNAU720/20078713/200717/30/200973aTerminated'Y83500206283f'23451f02"        91        <NA>          NaN

## hecm_margin

In [173]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['hecm_margin'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['hecm_margin'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 0) & (valid_ages <= 3.25)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for hecm_margin in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside 55-95: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside 55-95: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for hecm_margin in df3 ---
Total Rows: 964665
Number of NaNs: 522883 (54.20%)
Values Inside 55-95: 411186 (42.62%)
Values Outside 55-95: 30596 (3.17%)

In [174]:
def normalize_ocr_for_hecm_margin(text):
    """
    Aggressively normalize OCR text to recover numeric values.
    Handles common OCR misreads and formatting issues.
    """
    if pd.isna(text):
        return ""
    
    text = str(text)
    
    # Replace common OCR letter-to-digit mistakes
    ocr_corrections = {
        'O': '0',
        'o': '0',
        'Q': '0',
        'D': '0',
    }
    
    corrected = []
    for char in text:
        corrected.append(ocr_corrections.get(char, char))
    
    text = ''.join(corrected)
    
    # Replace comma with dot for decimal separator
    text = text.replace(',', '.')
    
    return text

def extract_hecm_margin_from_raw_text(raw_text, pd_stmln_flg_value):
    """
    Extract hecm_margin from raw_text2 using structural assumptions.
    
    The pattern is: [int_rt] [int_rt_10yr] [hecm_margin] [pd_stmln_flg]
    
    Strategy:
    1. Locate pd_stmln_flg in the text (single capital letter: N, C, R, or H)
    2. Search backwards from that position to find the nearest valid decimal
    3. Validate range (0.0 - 3.25)
    """
    if pd.isna(raw_text):
        return None
    
    # Normalize OCR errors
    normalized = normalize_ocr_for_hecm_margin(raw_text)
    
    # Determine the pd_stmln_flg character to search for
    flag_char = None
    if not pd.isna(pd_stmln_flg_value):
        flag_str = str(pd_stmln_flg_value).strip().upper()
        if flag_str in ['N', 'C', 'R', 'H']:
            flag_char = flag_str
    
    # If we don't know the flag, try to find any of the valid flags
    valid_flags = ['N', 'C', 'R', 'H']
    
    # Find all positions of valid flag characters
    flag_positions = []
    for i, char in enumerate(normalized):
        if char in valid_flags:
            flag_positions.append(i)
    
    # If we have a specific flag, filter to only those positions
    if flag_char:
        flag_positions = [i for i in flag_positions if normalized[i] == flag_char]
    
    # Try each flag position (rightmost first, as it's most likely to be correct)
    for flag_pos in reversed(flag_positions):
        # Extract substring before the flag
        text_before_flag = normalized[:flag_pos]
        
        # Find all decimal numbers before the flag
        # Pattern: optional digits, dot, digits OR just digits
        decimal_pattern = r'(\d+\.?\d*|\d*\.\d+)'
        matches = list(re.finditer(decimal_pattern, text_before_flag))
        
        # Work backwards through matches to find the closest valid value
        for match in reversed(matches):
            candidate = match.group(1)
            
            # Clean up the candidate
            candidate = candidate.strip()
            
            # Skip empty or just-dot
            if not candidate or candidate == '.':
                continue
            
            try:
                value = float(candidate)
                
                # Check if in valid range for hecm_margin
                if 0.0 <= value <= 3.25:
                    # Round to 2 decimal places max
                    value = round(value, 2)
                    return value
            except (ValueError, OverflowError):
                continue
    
    # Fallback: try aggressive pattern matching without relying on flag position
    # Extract all decimal numbers from the entire text
    all_decimals = re.findall(r'\d+\.?\d*|\d*\.\d+', normalized)
    
    # Filter to valid range and take candidates
    valid_candidates = []
    for dec_str in all_decimals:
        if dec_str and dec_str != '.':
            try:
                val = float(dec_str)
                if 0.0 <= val <= 3.25:
                    valid_candidates.append(val)
            except (ValueError, OverflowError):
                continue
    
    # If we found valid candidates, prefer values that are common hecm_margin values
    # Common values are typically between 0.5 and 3.0
    if valid_candidates:
        # Sort by proximity to typical range (1.0 - 2.5)
        valid_candidates.sort(key=lambda x: abs(x - 1.75))
        return round(valid_candidates[0], 2)
    
    # Final fallback: try to extract numbers immediately before single capital letters
    pattern = r'(\d+\.?\d*|\d*\.\d+)\s*[\'"]?\s*[NCRH]'
    matches = re.findall(pattern, normalized)
    
    for match in reversed(matches):
        try:
            value = float(match)
            if 0.0 <= value <= 3.25:
                return round(value, 2)
        except (ValueError, OverflowError):
            continue
    
    return None

# Process rows where hecm_margin is invalid or missing
for idx in df3.index:
    current_hecm_margin = df3.at[idx, 'hecm_margin']
    
    # Determine if row needs correction
    needs_correction = False
    
    if pd.isna(current_hecm_margin):
        needs_correction = True
    else:
        try:
            margin_val = float(current_hecm_margin)
            if margin_val < 0.0 or margin_val > 3.25:
                needs_correction = True
        except (ValueError, TypeError):
            needs_correction = True
    
    # If correction needed, attempt extraction
    if needs_correction:
        raw_text = df3.at[idx, 'raw_text']
        
        # Try to get pd_strmln_flg, handle KeyError if column doesn't exist
        try:
            pd_stmln_flg = df3.at[idx, 'pd_strmln_flg']
        except KeyError:
            pd_stmln_flg = None
        
        extracted_margin = extract_hecm_margin_from_raw_text(raw_text, pd_stmln_flg)
        
        if extracted_margin is not None:
            # Format to max 2 decimal places
            if extracted_margin == int(extracted_margin):
                df3.at[idx, 'hecm_margin'] = int(extracted_margin)
            else:
                df3.at[idx, 'hecm_margin'] = extracted_margin

In [175]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['hecm_margin'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['hecm_margin'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 0) & (valid_ages <= 3.25)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for hecm_margin in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside 0-3.25: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside 0.3.25: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for hecm_margin in df3 ---
Total Rows: 964665
Number of NaNs: 7 (0.00%)
Values Inside 0-3.25: 964658 (100.00%)
Values Outside 0.3.25: 0 (0.00%)

In [176]:
df3[df3['source_pdf'] == 10020][['row_in_pdf','raw_text', 'raw_text2','Borr_Age', 'Coborr_Age', 'hecm_margin']].head(30)

      row_in_pdf                                                                                                                                             raw_text                                                                                                   raw_text2  Borr_Age  Coborr_Age  hecm_margin
1788           1      [FINANCIAL FREEDON SENIOR FUNDING corp’ | 6/4/2007] 7/7/2007|__3/o/eors|_ 80] 9] | Terminated’ | 6.07] if fu ay 610007 az983.63[ of'2383a_ "02"                     PJAMESBONETTERANDComPANYT627/2007k/6/200716/13/z017TB2Terminated5.95f9TINts00tosesfse02        80        <NA>          0.0
1789           2              [TJAMES B NUTTER AND COwPANY’ | 6/27/2007] 8/6/2007 | 6/is/aor7| 8] 8] | Terminated’ | 5.95) 569 an aye t68500[tosssi [of '23832 "02" |          PPINANCLALFREEDOMSENTORFENDINGCoRP'T6/6/2007T/un/2oo7asveoieatTerminated608BttonoPtsaszofenronf02"        71        <NA>          0.0
1790           3           [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 6/6/2007] 7/1/2007 | 7/as/eore| 8a] | | Terminated’ | 6.08) 5 8nf tnt ay p00 tas] of '23701 "02"  PFINANCIALFREEDOMSENTORFUNDINGCoRP'T6/15/20077/19/2007B/eavaor7atT22Terminated'6.09fTINztooszegatfe366602"        70        <NA>          0.0
1791           4   [TEINANCIAL FREEDOM SENIOR FUNDING Corp’ | 6/15/2007] 7/i9/2007|e/2s/a0r7| ta] 2 | | Terminated’ | 6.00) 5 8nfe fnayeais00[ trees] 0 [23666 "02" |                             PFINANCIALFREEDOMSENTORFENDINGCoRPT6202007TeszoortttindorsedPettooooPazsoesono2        71        <NA>          0.0
1792           5                 [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 6/20/2007] 7/aa/aoo7|_ | a] | a |"Endorsod @] | i] tnt tay | stoo00| sazgo] of '23501 "02"                  PJAMESBNUTTERANDComPANY'T7/19/20078/27/2007avizvzoz0o7Terminated'5PNtato00topgz7f22727f02"        71        <NA>          0.0
1793           6                        [JAMES B NUTTER AND CompANY’ | 7/9/2007] 8/27/2007] 4/7/aoz0| az | az | Terminated’ | 6] Pan ay arto00 | togga7{ of a27a7 on"                 PFINANCIALFREEDOMSENTORFENDINGCorP'T612007To/zoo7avevazoo96Tt2TerminatedaTwsn00Psttasea69o2      <NA>        <NA>          0.0
1794           7           [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 6/1/2007] 7/10/2007| 3/6/2009] 6] | | "Terminated | 6.45] a] tnt tay | s000[ sats] a '23669 "02"                               PJAMESBNUTTERANDCompasyT31/20077/3/20071setssigned5957PNt000078600f'2tgzof02"        71        <NA>          0.0
1795           8                                            [JAMES B NUTTER AND CompANY’ | 5/3 /2007|7/a/zoo7| Pg Assigned *s95[ er] anh iy o0000|za6o0 of '24430 02"                   PSEATTLEMORTGAGECoMPANY'Tt2007earzoo7gvasv2oi6oTTerminated6.95awasvoTisseriesofe37o3fto2"        71        <NA>          0.0
1796           9                     ['SEATTLE NoRTGAGE company’ | 6/4/2007] 7/23/2007! ovae/2oie| 0] | | Terminated’ | 5.95) 5a] att tay | tss00/ asses] 29703 |*o2"                   PWELLSFARGOBANKNAY524/20076/ig/2z0073v30vzorz3tTerminated5.86f565Naig9000ftzgsg7'23as2foe        95        <NA>          0.0
1797          10                                 [WELLS FARGO BANK NAT 5/24/2007] 6/19/2007] 3/a0/aoi2| | | Terminated’ | 5.86 65] NT way 99000] agoso7{ of aaanz 02"                    PRINANCIALFREEDOMSENTORFENDINGCoRP'T6192007Traar20o7a/sovaorsTTTevminatedNeesersotisso02        86        <NA>          2.0
1798          11     [FINANCIAL FREEDOM SENIOR FUNDING corp’ ___|__6/19/2007| 7/24/2007] 9/a0/a0is] tf | | Terminated’ | 1] st] teh yh yt 61725] iveiao/ | '23860 02"                  PAMERICANHOMEBANK.NAY8/81/20076/22/20072v2o/zo1e78ATerminated'S.95fRENt20000gazzof2asaf02"        81          61          0.0
1799          12                            [TAMERICAN HOME BANK NA’ 5/1/2007] 6/22/2007] 7/20/a016| | 82] | Terminated’ | 5.95] os] we ay 20000] gazzo of 'azana 02"              PFINANCIALFREEDOMSENTORFUNDINGCoRP'T64/20077/a007ta/e/aors68TTATevminated5.95REN000tgtrseazsao        82        <NA>          0.0
1800          13         | FINANCIAL FREEDOM SENIOR FUNDING corp’ | _6/4/2007| _7/9/2007| 12/8/2015] 8] 72| | Terminated’ | 5.95] 68] sn) yh yt 5000) agus] 23234 02"                              PPIRSTMARINERBANK'w18/2007gvearzoo7tTwttEndorsedS.98fR261725Tozez.gsf23ongf02"        95        <NA>          0.0
1801          14                                             [TRIRST MARINER BANK’ 6/45/2007 9/2a/z007| || a ndorsed "| 598] es] ways 261725] vosaz.g8[ a '2a059 "02"                      PFINANCIALFREEDOWSENTORFENDINGCoRP'T7gzoo7sasveoo7Endorsed"P5.95RTN5000tso97sof2a60202        71        <NA>          2.0
1802          15                    ["PINANCTAL FREEDOM SENIOR FUNDING corp’ | 7/9/2007 8/15/2007] | tf | 'Bndorsed "| 5.95] 8] teh yh yt | 335000/ eos of '22602 02"                                    PWELISFARGOBANKNAYT7/20077/9/z007PTTndorsed5.96fotNer000tsezs7f23320f02"        95        <NA>          0.0
1803          16                                       [WELLS FARGO BANK NAT 6/7/2007] 7/a/a007| || | | Endorsed “| 5.96] eof anh wh ays a27o00|asess7{ a '23320 "02"                    PWELLSFARGOBANKNAYT6/20077/5/200713/5/2012T4tOL2Terminated'5.9655PNa838500tg26f23ieef02"        71        <NA>          0.0
1804          17  |"PINANCTAL FREEDOM SENIOR FUNDING CORP’ | _ 5/30/2007] 7/5/2007| 5/15/2020] 95| 83] 2 | Terminated’ | 6.45] 9] teh yh yt p05000/ 5585] f'23452 02"              PPINANCIALFREEDOMSENTORFUNDINGcoRP'T620/20077/31/2z007avavaoi77tTerminated609wwt500aoaasaaf02"        95          83          0.0
1805          18                         [WELLS FARGO BANK NAY 6a /2007| 7/5/2007] 3/5/ao1z| taf 0] | Terminated’ | 5.96] 565] a NT ways araso0faaigz6[ a f'a3ias 02"                    PWELLSFARGOBANKNAY620/20077/12/20072/25/20156822Terminated'5.9855fNat0000ztgoof22835f02"        96        <NA>          0.0
1806          19                 |"PINANCTAL FREEDOM SENIOR FUNDING CORP’ |_ 6/20/2007 _7/31/2007| _3/8/aoi7|_ | | Terminated’ | 6.09 tf teh yh ey 0500 sstao o's 02"                           PJAMESBUTTERANDcowPaNyo20076/2z0072vasveoieatTerminated8.95TPwtoossta2tofe3sseo2"        71        <NA>          0.0
1807          20                  ['WELLS FARGO BANK NAT | 6/20/2007] 7/12/2007] 2/25/2015] 76] 82 | | Terminated’ | 5.98) 5.65) aN ay t80000/asigoo| of 22835 "on" |                           PJAMESB.NUTTERANDComPANY'T6/7/20077/a5/zoo7,Ta6Assigned6.46SN'200000z600f2383602"        76        <NA>          2.0
1808          21                 "JAMES B NUTTER AND COMPANY’ | 6/1/2007] 8/6/2007 | avas/eone| 73] | | Terminated’ | 5.95) 5.67] at ay azo] ass6a.e] of '23as2_ "02"                   PPINANCIALFREEDOMSENTORFUNDINGcorPovtar2o07tovtozoo7fTndorsedP827awt0000ftzesaotf22tos02"        73        <NA>          0.0
1809          22                                      [TAMES B NUTTER AND COPANY’ | 6/7/2007] a/as/aoor] ta] | Assigned TP 6.46) Pe fina 2000001336000 f'23836 "02" |                                  HELLSFARGOBaNAS8a206tsanorj/i"Assianed"7/s.9,.6571y0oyysaoo"1g80a"2a3"1"g"        83        <NA>          0.0
1810          23               [FINANCIAL FREEDON SENIOR FUNDING corp’ | 9/14/2007] to/io/aoor| | eo] || Bndorsed T]5.27] as P ant ay t80000/ tezzsgo] of '22408 "02"                  FINANCIALFREEDOWSENTORFUNDINGCoRP'T7etgvzoo7pverzoov7fTstendorsed"T6093Pwtooozatofe3502f0e        80        <NA>          0.0
1811          24                                                      [WELLS FARGO BANK NAT tz /a007|6/is/a0o7[ a] assigned TY seo 565 nay rza000 [1330/0 f'2aiss oa"                              WELLSFARGOBAKNAug/z0077viivezoo7tTatEndorsed5.98f55PNTa204000fe77oatf'23320f02        71        <NA>          0.0
1812          25            [FINANCIAL FREEDOM SENIOR FUNDING corp’ | 7/18/2007] _s/e/2oo7|_ | es] || Endorsed ' | 6.00) 5.93 9 tnt tay | trzoo0| ssa] of '23502 "02"                     PWELLSFARGOBANKNAYS2a20076/19/20073vi7/zornbztTerminated'5.865SfNt5000aeaonoff23zznf02"        93        <NA>          0.0
1813          26                                            [TWELLS FARGO BANK NAY a yoo07 | z/ui/eoo7| | wat Endorsed "ssf es] anh we ay 0400] te7zoat a f'23320 02"                           PWELLSFARGOBANKNAU8/2007775/20071i6v2oisattTerminated'5.96SfNwg00abazaf'2346gf02"        71        <NA>          0.0
1814          27                    ['WELLS FARGO BANK NAY 5/24/2007] 6/9/2007] sav/eou| gz] | | Terminated’ | 5.86) 5.65] att wt aye | z5000| zeaoro| of '23321 "02"                         WELLSFARGOBANKNAY20077/9/200716/26/201586tTerminated'5.985SN006064331.36f'23336f02"        86        <NA>          0.0
1815          28                             ['WELLS FARGO BANK NAY 6/8 /2007| 7/5/2007] a/ae/aois| a] | Terminated’ | 5. 96{ 65] anh way 4000] tasasal of" aaa6a 02"             'FINANCIALFREEDOMSENIORFUNDINGcoRPy6/14/20077/23/20071wtTBndorsed.ont8fNw309000peigif'23188t02"        96        <NA>          0.0
1816          29                         ['WELLS FARGO BANK NA’ | 4/2007] 7/9/2007 | 626/205] 86] | | Terminated’ | 5.98) 5.65] att tv ooo] istsai.s6] o'23336_* "02"                FINANCIALFREEDOMSENIORFUNDINGcorPvtsv20077/iz/zoovfT8tEndorsed"8.998fw3000tzozsatf'2n017f02"        86        <NA>          0.0
1817          30                     ["RINANCTAL FREEDOM SENIOR FUNDING CORP’ | 6/14/2007 7/aa/2007| | wf | Endorsed "or es] nh we iy 309000/asaisi[ a f'23ias * [o2"                          SEATTLEMORTGAGECOMPANY'T6N/20077/30/20071tEndorsed5.96f5SLNay'T99000z0g1'23430f02"        71        <NA>          0.0

In [177]:
# Count occurrences of '|', then filter for > 3, and get the length
list(df3.loc[df3['raw_text'].str.count('\|') > 3, 'source_pdf'].unique())

<>:2: SyntaxWarning: invalid escape sequence '\|'
<>:2: SyntaxWarning: invalid escape sequence '\|'
C:\Users\Amit\AppData\Local\Temp\ipykernel_21612\458265994.py:2: SyntaxWarning: invalid escape sequence '\|'
  list(df3.loc[df3['raw_text'].str.count('\|') > 3, 'source_pdf'].unique())

[np.int64(10002),
 np.int64(10001),
 np.int64(10000),
 np.int64(10003),
 np.int64(10004),
 np.int64(10006),
 np.int64(10005),
 np.int64(10007),
 np.int64(10008),
 np.int64(10009),
 np.int64(10011),
 np.int64(10012),
 np.int64(10010),
 np.int64(10014),
 np.int64(10013),
 np.int64(10015),
 np.int64(10016),
 np.int64(10018),
 np.int64(10017),
 np.int64(10019),
 np.int64(10020),
 np.int64(10021),
 np.int64(10022),
 np.int64(10024),
 np.int64(10023),
 np.int64(10025),
 np.int64(10026),
 np.int64(10028),
 np.int64(10027),
 np.int64(10029),
 np.int64(10031),
 np.int64(10030),
 np.int64(10032),
 np.int64(10034),
 np.int64(10035),
 np.int64(10033),
 np.int64(10036),
 np.int64(10038),
 np.int64(10037),
 np.int64(10039),
 np.int64(10040),
 np.int64(10041),
 np.int64(10042),
 np.int64(10044),
 np.int64(10045),
 np.int64(10043),
 np.int64(10046),
 np.int64(10047),
 np.int64(10048),
 np.int64(10049),
 np.int64(10050),
 np.int64(10051),
 np.int64(10052),
 np.int64(10053),
 np.int64(10054),
 np.int64(10055),
 np.int64(10056),
 np.int64(10057),
 np.int64(10058),
 np.int64(10059),
 np.int64(10060),
 np.int64(10061),
 np.int64(10062),
 np.int64(10063),
 np.int64(10064),
 np.int64(10065),
 np.int64(10066),
 np.int64(10067),
 np.int64(10068),
 np.int64(10069),
 np.int64(10070),
 np.int64(10071),
 np.int64(10072),
 np.int64(10073),
 np.int64(10075),
 np.int64(10074),
 np.int64(10076),
 np.int64(10077),
 np.int64(10079),
 np.int64(10078),
 np.int64(10080),
 np.int64(10081),
 np.int64(10082),
 np.int64(10083),
 np.int64(10084),
 np.int64(10085),
 np.int64(10086),
 np.int64(10087),
 np.int64(10088),
 np.int64(10093),
 np.int64(10089),
 np.int64(10092),
 np.int64(10090),
 np.int64(10091),
 np.int64(10094),
 np.int64(10096),
 np.int64(10097),
 np.int64(10095),
 np.int64(10099),
 np.int64(10098),
 np.int64(10100),
 np.int64(10101),
 np.int64(10102),
 np.int64(10103),
 np.int64(10104),
 np.int64(10105),
 np.int64(10106),
 np.int64(10107),
 np.int64(10109),
 np.int64(10108),
 np.int64(10111),
 np.int64(10112),
 np.int64(10110),
 np.int64(10113),
 np.int64(10114),
 np.int64(10115),
 np.int64(10116),
 np.int64(10117),
 np.int64(10119),
 np.int64(10118),
 np.int64(10120),
 np.int64(10121),
 np.int64(10122),
 np.int64(10123),
 np.int64(10125),
 np.int64(10124),
 np.int64(10126),
 np.int64(10127),
 np.int64(10128),
 np.int64(10129),
 np.int64(10130),
 np.int64(10132),
 np.int64(10131),
 np.int64(10134),
 np.int64(10133),
 np.int64(10136),
 np.int64(10135),
 np.int64(10137),
 np.int64(10138),
 np.int64(10139),
 np.int64(10140),
 np.int64(10141),
 np.int64(10142),
 np.int64(10143),
 np.int64(10144),
 np.int64(10145),
 np.int64(10146),
 np.int64(10147),
 np.int64(10148),
 np.int64(10149),
 np.int64(10150),
 np.int64(10151),
 np.int64(10152),
 np.int64(10153),
 np.int64(10154),
 np.int64(10155),
 np.int64(10156),
 np.int64(10157),
 np.int64(10159),
 np.int64(10158),
 np.int64(10160),
 np.int64(10161),
 np.int64(10162),
 np.int64(10163),
 np.int64(10164),
 np.int64(10165),
 np.int64(10166),
 np.int64(10167),
 np.int64(10168),
 np.int64(10169),
 np.int64(10170),
 np.int64(10171),
 np.int64(10172),
 np.int64(10173),
 np.int64(10174),
 np.int64(10175),
 np.int64(10176),
 np.int64(10177),
 np.int64(10178),
 np.int64(10179),
 np.int64(10180),
 np.int64(10181),
 np.int64(10182),
 np.int64(10183),
 np.int64(10184),
 np.int64(10185),
 np.int64(10186),
 np.int64(10187),
 np.int64(10188),
 np.int64(10189),
 np.int64(10190),
 np.int64(10191),
 np.int64(10192),
 np.int64(10193),
 np.int64(10194),
 np.int64(10195),
 np.int64(10196),
 np.int64(10197),
 np.int64(10198),
 np.int64(10199),
 np.int64(10200),
 np.int64(10201),
 np.int64(10202),
 np.int64(10203),
 np.int64(10204),
 np.int64(10205),
 np.int64(10206),
 np.int64(10207),
 np.int64(10208),
 np.int64(10209),
 np.int64(10210),
 np.int64(10211),
 np.int64(10212),
 np.int64(10213),
 np.int64(10214),
 np.int64(10215),
 np.int64(10216),
 np.int64(10217),
 np.int64(10218),
 np.int64(10219),
 np.int64(10220),
 np.int64(10221),
 np.int64(10223),
 np.int64(10222),
 np.int64(10224),
 np.int64(10225),
 np.int64(10226),
 np.int64(10227),
 np.int64(10228),
 np.int64(10229),
 np.int64(10230),
 np.int64(10231),
 np.int64(10232),
 np.int64(10233),
 np.int64(10234),
 np.int64(10235),
 np.int64(10236),
 np.int64(10237),
 np.int64(10238),
 np.int64(10239),
 np.int64(10240),
 np.int64(10241),
 np.int64(10242),
 np.int64(10243),
 np.int64(10244),
 np.int64(10245),
 np.int64(10246),
 np.int64(10247),
 np.int64(10248),
 np.int64(10249),
 np.int64(10250),
 np.int64(10252),
 np.int64(10251),
 np.int64(10253),
 np.int64(10254),
 np.int64(10255),
 np.int64(10256),
 np.int64(10257),
 np.int64(10259),
 np.int64(10258),
 np.int64(10260),
 np.int64(10261),
 np.int64(10262),
 np.int64(10263),
 np.int64(10264),
 np.int64(10265),
 np.int64(10266),
 np.int64(10267),
 np.int64(10269),
 np.int64(10268),
 np.int64(10270),
 np.int64(10271),
 np.int64(10272),
 np.int64(10273),
 np.int64(10276),
 np.int64(10274),
 np.int64(10275),
 np.int64(10277),
 np.int64(10278),
 np.int64(10279),
 np.int64(10280),
 np.int64(10281),
 np.int64(10283),
 np.int64(10282),
 np.int64(10284),
 np.int64(10285),
 np.int64(10286),
 np.int64(10287),
 np.int64(10288),
 np.int64(10289),
 np.int64(10290),
 np.int64(10291),
 np.int64(10292),
 np.int64(10293),
 np.int64(10294),
 np.int64(10295),
 np.int64(10296),
 np.int64(10297),
 np.int64(10298),
 np.int64(10299),
 np.int64(10300),
 np.int64(10301),
 np.int64(10302),
 np.int64(10303),
 np.int64(10305),
 np.int64(10304),
 np.int64(10306),
 np.int64(10307),
 np.int64(10308),
 np.int64(10309),
 np.int64(10311),
 np.int64(10310),
 np.int64(10312),
 np.int64(10313),
 np.int64(10314),
 np.int64(10315),
 np.int64(10316),
 np.int64(10318),
 np.int64(10317),
 np.int64(10319),
 np.int64(10320),
 np.int64(10321),
 np.int64(10323),
 np.int64(10322),
 np.int64(10324),
 np.int64(10325),
 np.int64(10326),
 np.int64(10327),
 np.int64(10328),
 np.int64(10329),
 np.int64(10330),
 np.int64(10331),
 np.int64(10332),
 np.int64(10333),
 np.int64(10334),
 np.int64(10335),
 np.int64(10336),
 np.int64(10337),
 np.int64(10338),
 np.int64(10339),
 np.int64(10340),
 np.int64(10341),
 np.int64(10342),
 np.int64(10343),
 np.int64(10345),
 np.int64(10344),
 np.int64(10346),
 np.int64(10348),
 np.int64(10347),
 np.int64(10349),
 np.int64(10351),
 np.int64(10350),
 np.int64(10352),
 np.int64(10353),
 np.int64(10355),
 np.int64(10354),
 np.int64(10356),
 np.int64(10357),
 np.int64(10358),
 np.int64(10359),
 np.int64(10360),
 np.int64(10361),
 np.int64(10362),
 np.int64(10363),
 np.int64(10365),
 np.int64(10364),
 np.int64(10366),
 np.int64(10368),
 np.int64(10367),
 np.int64(10369),
 np.int64(10370),
 np.int64(10371),
 np.int64(10372),
 np.int64(10373),
 np.int64(10374),
 np.int64(10375),
 np.int64(10376),
 np.int64(10377),
 np.int64(10378),
 np.int64(10379),
 np.int64(10380),
 np.int64(10381),
 np.int64(10382),
 np.int64(10383),
 np.int64(10384),
 np.int64(10385),
 np.int64(10386),
 np.int64(10387),
 np.int64(10388),
 np.int64(10389),
 np.int64(10391),
 np.int64(10390),
 np.int64(10392),
 np.int64(10393),
 np.int64(10394),
 np.int64(10395),
 np.int64(10396),
 np.int64(10397),
 np.int64(10398),
 np.int64(10399),
 np.int64(10400),
 np.int64(10401),
 np.int64(10402),
 np.int64(10403),
 np.int64(10405),
 np.int64(10404),
 np.int64(10406),
 np.int64(10407),
 np.int64(10408),
 np.int64(10409),
 np.int64(10410),
 np.int64(10411),
 np.int64(10412),
 np.int64(10413),
 np.int64(10414),
 np.int64(10415),
 np.int64(10416),
 np.int64(10417),
 np.int64(10418),
 np.int64(10419),
 np.int64(10420),
 np.int64(10421),
 np.int64(10422),
 np.int64(10423),
 np.int64(10424),
 np.int64(10425),
 np.int64(10426),
 np.int64(10427),
 np.int64(10428),
 np.int64(10429),
 np.int64(10430),
 np.int64(10431),
 np.int64(10432),
 np.int64(10433),
 np.int64(10434),
 np.int64(10435),
 np.int64(10436),
 np.int64(10437),
 np.int64(10438),
 np.int64(10439),
 np.int64(10440),
 np.int64(10441),
 np.int64(10442),
 np.int64(10443),
 np.int64(10444),
 np.int64(10445),
 np.int64(10446),
 np.int64(10447),
 np.int64(10448),
 np.int64(10449),
 np.int64(10450),
 np.int64(10451),
 np.int64(10452),
 np.int64(10453),
 np.int64(10454),
 np.int64(10455),
 np.int64(10456),
 np.int64(10457),
 np.int64(10459),
 np.int64(10458),
 np.int64(10460),
 np.int64(10461),
 np.int64(10462),
 np.int64(10463),
 np.int64(10464),
 np.int64(10466),
 np.int64(10465),
 np.int64(10467),
 np.int64(10468),
 np.int64(10469),
 np.int64(10470),
 np.int64(10472),
 np.int64(10471),
 np.int64(10473),
 np.int64(10474),
 np.int64(10475),
 np.int64(10476),
 np.int64(10477),
 np.int64(10478),
 np.int64(10479),
 np.int64(10480),
 np.int64(10481),
 np.int64(10482),
 np.int64(10483),
 np.int64(10484),
 np.int64(10486),
 np.int64(10485),
 np.int64(10487),
 np.int64(10488),
 np.int64(10489),
 np.int64(10490),
 np.int64(10491),
 np.int64(10492),
 np.int64(10494),
 np.int64(10493),
 np.int64(10495),
 np.int64(10496),
 np.int64(10497),
 np.int64(10499),
 np.int64(10498),
 np.int64(10500),
 np.int64(10501),
 np.int64(10502),
 np.int64(10504),
 np.int64(10503),
 np.int64(10505),
 np.int64(10506),
 np.int64(10507),
 np.int64(10508),
 np.int64(10509),
 np.int64(10510),
 np.int64(10511),
 np.int64(10512),
 np.int64(10513),
 np.int64(10514),
 np.int64(10515),
 np.int64(10516),
 np.int64(10518),
 np.int64(10517),
 np.int64(10519),
 np.int64(10520),
 np.int64(10521),
 np.int64(10522),
 np.int64(10523),
 np.int64(10525),
 np.int64(10524),
 np.int64(10526),
 np.int64(10527),
 np.int64(10529),
 np.int64(10528),
 np.int64(10530),
 np.int64(10531),
 np.int64(10532),
 np.int64(10533),
 np.int64(10534),
 np.int64(10535),
 np.int64(10536),
 np.int64(10537),
 np.int64(10538),
 np.int64(10539),
 np.int64(10540),
 np.int64(10541),
 np.int64(10542),
 np.int64(10544),
 np.int64(10543),
 np.int64(10545),
 np.int64(10546),
 np.int64(10547),
 np.int64(10548),
 np.int64(10549),
 np.int64(10550),
 np.int64(10551),
 np.int64(10552),
 np.int64(10553),
 np.int64(10554),
 np.int64(10555),
 np.int64(10556),
 np.int64(10557),
 np.int64(10558),
 np.int64(10559),
 np.int64(10560),
 np.int64(10561),
 np.int64(10562),
 np.int64(10563),
 np.int64(10565),
 np.int64(10564),
 np.int64(10566),
 np.int64(10567),
 np.int64(10568),
 np.int64(10569),
 np.int64(10570),
 np.int64(10571),
 np.int64(10572),
 np.int64(10573),
 np.int64(10574),
 np.int64(10575),
 np.int64(10576),
 np.int64(10577),
 np.int64(10579),
 np.int64(10578),
 np.int64(10580),
 np.int64(10581),
 np.int64(10582),
 np.int64(10583),
 np.int64(10584),
 np.int64(10585),
 np.int64(10586),
 np.int64(10587),
 np.int64(10588),
 np.int64(10589),
 np.int64(10591),
 np.int64(10590),
 np.int64(10592),
 np.int64(10593),
 np.int64(10595),
 np.int64(10594),
 np.int64(10596),
 np.int64(10597),
 np.int64(10598),
 np.int64(10599),
 np.int64(10600),
 np.int64(10601),
 np.int64(10602),
 np.int64(10605),
 np.int64(10604),
 np.int64(10603),
 np.int64(10606),
 np.int64(10607),
 np.int64(10608),
 np.int64(10609),
 np.int64(10610),
 np.int64(10611),
 np.int64(10612),
 np.int64(10613),
 np.int64(10614),
 np.int64(10615),
 np.int64(10616),
 np.int64(10618),
 np.int64(10617),
 np.int64(10619),
 np.int64(10620),
 np.int64(10621),
 np.int64(10622),
 np.int64(10623),
 np.int64(10624),
 np.int64(10625),
 np.int64(10626),
 np.int64(10628),
 np.int64(10627),
 np.int64(10629),
 np.int64(10630),
 np.int64(10631),
 np.int64(10632),
 np.int64(10633),
 np.int64(10634),
 np.int64(10635),
 np.int64(10636),
 np.int64(10638),
 np.int64(10637),
 np.int64(10639),
 np.int64(10640),
 np.int64(10641),
 np.int64(10642),
 np.int64(10643),
 np.int64(10645),
 np.int64(10644),
 np.int64(10646),
 np.int64(10647),
 np.int64(10648),
 np.int64(10649),
 np.int64(10650),
 np.int64(10651),
 np.int64(10652),
 np.int64(10653),
 np.int64(10654),
 np.int64(10655),
 np.int64(10656),
 np.int64(10657),
 np.int64(10658),
 np.int64(10659),
 np.int64(10660),
 np.int64(10661),
 np.int64(10662),
 np.int64(10663),
 np.int64(10664),
 np.int64(10665),
 np.int64(10666),
 np.int64(10667),
 np.int64(10668),
 np.int64(10669),
 np.int64(10670),
 np.int64(10672),
 np.int64(10671),
 np.int64(10673),
 np.int64(10674),
 np.int64(10675),
 np.int64(10676),
 np.int64(10679),
 np.int64(10677),
 np.int64(10678),
 np.int64(10680),
 np.int64(10681),
 np.int64(10682),
 np.int64(10683),
 np.int64(10686),
 np.int64(10684),
 np.int64(10685),
 np.int64(10687),
 np.int64(10688),
 np.int64(10689),
 np.int64(10692),
 np.int64(10690),
 np.int64(10691),
 np.int64(10694),
 np.int64(10693),
 np.int64(10695),
 np.int64(10696),
 np.int64(10697),
 np.int64(10699),
 np.int64(10698),
 np.int64(10701),
 np.int64(10700),
 np.int64(10702),
 np.int64(10703),
 np.int64(10706),
 np.int64(10705),
 np.int64(10704),
 np.int64(10707),
 np.int64(10708),
 np.int64(10709),
 np.int64(10711),
 np.int64(10710),
 np.int64(10712),
 np.int64(10713),
 np.int64(10714),
 np.int64(10715),
 np.int64(10716),
 np.int64(10717),
 np.int64(10718),
 np.int64(10719),
 np.int64(10720),
 np.int64(10721),
 np.int64(10722),
 np.int64(10723),
 np.int64(10724),
 np.int64(10725),
 np.int64(10726),
 np.int64(10727),
 np.int64(10728),
 np.int64(10729),
 np.int64(10730),
 np.int64(10731),
 np.int64(10732),
 np.int64(10733),
 np.int64(10734),
 np.int64(10735),
 np.int64(10736),
 np.int64(10737),
 np.int64(10738),
 np.int64(10739),
 np.int64(10740),
 np.int64(10741),
 np.int64(10742),
 np.int64(10743),
 np.int64(10744),
 np.int64(10746),
 np.int64(10745),
 np.int64(10747),
 np.int64(10748),
 np.int64(10749),
 np.int64(10750),
 np.int64(10752),
 np.int64(10751),
 np.int64(10753),
 np.int64(10754),
 np.int64(10755),
 np.int64(10756),
 np.int64(10757),
 np.int64(10758),
 np.int64(10759),
 np.int64(10760),
 np.int64(10761),
 np.int64(10763),
 np.int64(10762),
 np.int64(10764),
 np.int64(10765),
 np.int64(10766),
 np.int64(10767),
 np.int64(10768),
 np.int64(10769),
 np.int64(10771),
 np.int64(10770),
 np.int64(10772),
 np.int64(10773),
 np.int64(10774),
 np.int64(10775),
 np.int64(10776),
 np.int64(10778),
 np.int64(10777),
 np.int64(10779),
 np.int64(10781),
 np.int64(10780),
 np.int64(10782),
 np.int64(10783),
 np.int64(10784),
 np.int64(10785),
 np.int64(10786),
 np.int64(10787),
 np.int64(10788),
 np.int64(10789),
 np.int64(10791),
 np.int64(10790),
 np.int64(10792),
 np.int64(10793),
 np.int64(10795),
 np.int64(10794),
 np.int64(10796),
 np.int64(10797),
 np.int64(10798),
 np.int64(10799),
 np.int64(10800),
 np.int64(10801),
 np.int64(10802),
 np.int64(10803),
 np.int64(10804),
 np.int64(10806),
 np.int64(10805),
 np.int64(10807),
 np.int64(10808),
 np.int64(10809),
 np.int64(10810),
 np.int64(10812),
 np.int64(10811),
 np.int64(10813),
 np.int64(10814),
 np.int64(10815),
 np.int64(10817),
 np.int64(10816),
 np.int64(10818),
 np.int64(10819),
 np.int64(10820),
 np.int64(10824),
 np.int64(10822),
 np.int64(10821),
 np.int64(10823),
 np.int64(10826),
 np.int64(10825),
 np.int64(10827),
 np.int64(10828),
 np.int64(10829),
 np.int64(10830),
 np.int64(10831),
 np.int64(10832),
 np.int64(10833),
 np.int64(10834),
 np.int64(10836),
 np.int64(10835),
 np.int64(10837),
 np.int64(10838),
 np.int64(10839),
 np.int64(10840),
 np.int64(10842),
 np.int64(10841),
 np.int64(10843),
 np.int64(10844),
 np.int64(10845),
 np.int64(10846),
 np.int64(10847),
 np.int64(10848),
 np.int64(10849),
 np.int64(10850),
 np.int64(10851),
 np.int64(10852),
 np.int64(10853),
 np.int64(10854),
 np.int64(10855),
 np.int64(10856),
 np.int64(10858),
 np.int64(10857),
 np.int64(10859),
 np.int64(10860),
 np.int64(10861),
 np.int64(10862),
 np.int64(10863),
 np.int64(10864),
 np.int64(10865),
 np.int64(10866),
 np.int64(10867),
 np.int64(10869),
 np.int64(10868),
 np.int64(10870),
 np.int64(10871),
 np.int64(10872),
 np.int64(10873),
 np.int64(10874),
 np.int64(10875),
 np.int64(10876),
 np.int64(10877),
 np.int64(10878),
 np.int64(10879),
 np.int64(10880),
 np.int64(10883),
 np.int64(10882),
 np.int64(10881),
 np.int64(10884),
 np.int64(10885),
 np.int64(10886),
 np.int64(10887),
 np.int64(10888),
 np.int64(10889),
 np.int64(10891),
 np.int64(10890),
 np.int64(10892),
 np.int64(10893),
 np.int64(10894),
 np.int64(10895),
 np.int64(10897),
 np.int64(10896),
 np.int64(10898),
 np.int64(10899),
 np.int64(10900),
 np.int64(10901),
 np.int64(10902),
 np.int64(10903),
 np.int64(10904),
 np.int64(10905),
 np.int64(10906),
 np.int64(10909),
 np.int64(10907),
 np.int64(10908),
 np.int64(10910),
 np.int64(10912),
 np.int64(10911),
 np.int64(10913),
 np.int64(10915),
 np.int64(10914),
 np.int64(10916),
 np.int64(10917),
 np.int64(10918),
 np.int64(10919),
 np.int64(10920),
 np.int64(10921),
 np.int64(10922),
 np.int64(10923),
 np.int64(10926),
 np.int64(10924),
 np.int64(10925),
 np.int64(10927),
 np.int64(10928),
 np.int64(10929),
 np.int64(10932),
 np.int64(10930),
 np.int64(10931),
 np.int64(10933),
 np.int64(10935),
 np.int64(10936),
 np.int64(10934),
 np.int64(10938),
 np.int64(10937),
 np.int64(10939),
 np.int64(10941),
 np.int64(10942),
 np.int64(10940),
 np.int64(10943),
 np.int64(10945),
 np.int64(10946),
 np.int64(10944),
 np.int64(10947),
 np.int64(10948),
 np.int64(10949),
 np.int64(10950),
 np.int64(10952),
 np.int64(10951),
 np.int64(10953),
 np.int64(10954),
 np.int64(10955),
 np.int64(10959),
 np.int64(10958),
 np.int64(10956),
 np.int64(10957),
 np.int64(10960),
 np.int64(10961),
 np.int64(10962),
 np.int64(10963),
 np.int64(10964),
 np.int64(10965),
 np.int64(10966),
 np.int64(10967),
 np.int64(10968),
 np.int64(10969),
 np.int64(10970),
 np.int64(10971),
 np.int64(10972),
 np.int64(10973),
 np.int64(10974),
 np.int64(10975),
 np.int64(10976),
 np.int64(10977),
 np.int64(10978),
 np.int64(10979),
 np.int64(10980),
 np.int64(10981),
 np.int64(10982),
 np.int64(10983),
 np.int64(10984),
 np.int64(10985),
 np.int64(10986),
 np.int64(10987),
 np.int64(10988),
 np.int64(10989),
 np.int64(10990),
 np.int64(10991),
 np.int64(10992),
 np.int64(10993),
 np.int64(10994),
 np.int64(10995),
 np.int64(10996),
 np.int64(10997),
 np.int64(10998),
 np.int64(10999),
 ...]

## Borr_Cnt

In [178]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['Borr_Cnt'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['Borr_Cnt'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 1) & (valid_ages <= 2)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for Borr_Cnt in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside 1-2: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside 1-2: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for Borr_Cnt in df3 ---
Total Rows: 964665
Number of NaNs: 206511 (21.41%)
Values Inside 1-2: 745178 (77.25%)
Values Outside 1-2: 12976 (1.35%)

In [179]:
def normalize_ocr_for_borr_cnt(text):
    """
    Normalize OCR text to handle common misreads for Borr_Cnt extraction.
    """
    if pd.isna(text):
        return ""
    
    text = str(text)
    
    # OCR character corrections for digits
    ocr_corrections = {
        'i': '1',
        'l': '1',
        'I': '1',
        '|': '1',
        '!': '1',
        'z': '2',
        'Z': '2',
    }
    
    corrected = []
    for char in text:
        corrected.append(ocr_corrections.get(char, char))
    
    return ''.join(corrected)

def extract_borr_cnt_from_raw_text(raw_text):
    """
    Extract Borr_Cnt from raw_text2 using structural assumptions.
    
    The pattern is: [Borr_Age] [Coborr_Age] [Borr_Cnt] [es_status]
    
    Strategy:
    1. Locate es_status keyword (Terminated, Assigned, or Endorsed)
    2. Search backwards to find the nearest single digit (1 or 2)
    3. That digit is Borr_Cnt
    """
    if pd.isna(raw_text):
        return None
    
    # Normalize OCR errors
    normalized = normalize_ocr_for_borr_cnt(raw_text)
    
    # Define es_status keywords to search for
    status_keywords = ['Terminated', 'Assigned', 'Endorsed', 'Termlnated', 'Termlnated', 
                       'Asslgned', 'Asslgned', 'Endarsed', 'Eodarsed']
    
    # Find all occurrences of status keywords (case insensitive)
    status_positions = []
    normalized_lower = normalized.lower()
    
    for keyword in status_keywords:
        keyword_lower = keyword.lower()
        pos = normalized_lower.find(keyword_lower)
        if pos != -1:
            status_positions.append(pos)
    
    # Also try partial matches for common OCR errors
    # Look for patterns like "Assigned", "Asslgned", etc.
    status_pattern = r'(Terminated|Assigned|Endorsed|Termlnated|Asslgned|Endarsed|Eodarsed)'
    status_matches = list(re.finditer(status_pattern, normalized, re.IGNORECASE))
    
    for match in status_matches:
        status_positions.append(match.start())
    
    # Sort positions and use the first (leftmost) occurrence
    if status_positions:
        status_positions.sort()
        first_status_pos = status_positions[0]
        
        # Extract text before the status keyword
        text_before_status = normalized[:first_status_pos]
        
        # Find all single digits (1 or 2) in the text before status
        # Looking for standalone digits, possibly with whitespace/punctuation around them
        digit_pattern = r'\b([12])\b|[^\d]([12])[^\d]|^([12])[^\d]|[^\d]([12])$'
        
        # Simpler approach: find all occurrences of '1' or '2' as separate tokens
        all_tokens = re.findall(r'\S+', text_before_status)
        
        # Work backwards through tokens to find the last occurrence of '1' or '2'
        for token in reversed(all_tokens):
            # Clean token of punctuation
            cleaned = re.sub(r'[^\d]', '', token)
            
            if cleaned in ['1', '2']:
                return int(cleaned)
        
        # Fallback: look for any '1' or '2' near the end of text_before_status
        # Search in the last 50 characters before status
        search_window = text_before_status[-50:] if len(text_before_status) > 50 else text_before_status
        
        # Find all '1' or '2' characters
        for i in range(len(search_window) - 1, -1, -1):
            if search_window[i] in ['1', '2']:
                return int(search_window[i])
    
    # If no status keyword found, try alternative approach
    # Look for pattern: [age] [age] [1 or 2] with ages being 2-digit numbers in 60-95 range
    age_pattern = r'\b([6-9]\d)\b'
    ages = re.findall(age_pattern, normalized)
    
    if len(ages) >= 1:
        # After finding ages, look for '1' or '2' that follows
        # Find position after last age
        last_age_match = None
        for match in re.finditer(age_pattern, normalized):
            last_age_match = match
        
        if last_age_match:
            text_after_ages = normalized[last_age_match.end():]
            
            # Look for first '1' or '2' in the next 20 characters
            search_text = text_after_ages[:20]
            
            for char in search_text:
                if char in ['1', '2']:
                    return int(char)
    
    return None

# Process rows where Borr_Cnt is NaN
for idx in df3.index:
    current_borr_cnt = df3.at[idx, 'Borr_Cnt']
    
    # Only process if Borr_Cnt is NaN
    if pd.isna(current_borr_cnt):
        raw_text = df3.at[idx, 'raw_text']
        
        # Attempt to extract from raw_text2
        extracted_cnt = extract_borr_cnt_from_raw_text(raw_text)
        
        if extracted_cnt is not None:
            df3.at[idx, 'Borr_Cnt'] = extracted_cnt

# Apply fallback rule: if Borr_Cnt still NaN, calculate from Coborr_Age
# Borr_Cnt = 2 if Coborr_Age is not NaN, otherwise 1
mask_still_nan = df3['Borr_Cnt'].isna()
df3.loc[mask_still_nan, 'Borr_Cnt'] = np.where(
    df3.loc[mask_still_nan, 'Coborr_Age'].notna(), 
    2, 
    1
)

# Convert Borr_Cnt to integer dtype
df3['Borr_Cnt'] = df3['Borr_Cnt'].astype('Int64')

C:\Users\Amit\AppData\Local\Temp\ipykernel_21612\3208745149.py:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Borr_Cnt'] = df3['Borr_Cnt'].astype('Int64')

In [180]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['Borr_Cnt'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['Borr_Cnt'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 1) & (valid_ages <= 2)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for Borr_Cnt in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside 1-2: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside 1-2: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for Borr_Cnt in df3 ---
Total Rows: 964665
Number of NaNs: 0 (0.00%)
Values Inside 1-2: 951689 (98.65%)
Values Outside 1-2: 12976 (1.35%)

## Property Zip

In [181]:
# Convert Borr_Cnt to integer dtype
df3['prop_addr_zip_cd'] = df3['prop_addr_zip_cd'].astype('Int64')

C:\Users\Amit\AppData\Local\Temp\ipykernel_21612\2799695637.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['prop_addr_zip_cd'] = df3['prop_addr_zip_cd'].astype('Int64')

In [182]:
df3.head()

   source_pdf  row_in_pdf                                                                                                            raw_text                    lender   clsing_dt endrsmt_dt   tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ                                                                                                  raw_text2
0         100           1               "GMFS LLC" 12/31/2012 2/25/2013 2/16/2017 64 1 “Terminated 5.06 5.06 oR uo 117000 74529 0 ‘36108 *02"                  GMFS LLC  12/31/2012  2/25/2013  2/16/2017        64          64         1  Terminated    5.06         5.06          0.0            R    NaN          NaN          NaN    117000.0          74529.0                 0             36108       2.0          OMFSLe" 12'31'2012 27252013 2/16/2017 64 1Terminated' 5.06 5.06 O'R fF i 7 7000 74529 Q3H10R "O2"
1         100           2  "ONE REVERSE MORTGAGE LLC’ 12/15/2012 1/25/2013 23 73 2 ‘Assigned 4.5 4.5 o'N’ r uo uo 200000 136200 o "36312 "02"  ONE REVERSE MORTGAGE LLC  12/15/2012  1/25/2013        NaN        73          73         2    Assigned    4.50         4.50          0.0            O      N            R          NaN    200000.0         136200.0                 0             36312       2.0  "ONEREVERSEMORTGAGEO007 12/15/2012 1/25/2013 73 73 2Assigned 4.5 4.5 oN fF i a 200000 136200 0363120 "O2"
2         100           3           "SUN WEST MORTGAGE CO_INC’ 1/11/2013, 3/4/2013 ca 1 ‘Assigned 5.3 5.3 oN i i a 130000 86710 0 '36571 "02"  SUN WEST MORTGAGE CO INC   1/11/2013   3/4/2013        NaN        86        <NA>         1    Assigned    5.30         5.30          0.0            I      I            A          NaN    130000.0          86710.0                 0             36571       2.0            "SLNBESTMORTGAGECOINC 111.2013 3e4/2013 ti 1"Assigned 5.3 5.3 O'S "F ct "30000 86710 Q"S671 on"
3         100           4     “MSR_ASSET VEHICLE LLC’ 2/20/2013 7/25/2013 76 1 ‘Assigned 5.06 5.06 o IN’ Fr uo 300000 207900 5000 "36078 "02"     MSR ASSET VEHICLE LLC   2/20/2013  7/25/2013        NaN        76          76         2    Assigned    5.06         5.06          0.0            O      F          NaN          NaN    300000.0         207900.0                 0             36078       2.0      "MSRASSETVEHICLE1207 220,2013 7/25/2013 76 1Assigned' 5.06 5.06 6'N' "F . 300000 207900 500036078 pe"
4         100           5    "SUN WEST MORTGAGE CO_TNC’ 1/26/2013 4/22/2013 2 1_‘Endorsed 4,99 4.99 oN’ - — uo 240000 161040 2500 "35966 "02"  SUN WEST MORTGAGE CO INC   1/26/2013  4/22/2013        NaN        72        <NA>         1    Endorsed    4.99         4.99          0.0          NaN      F          NaN          NaN    240000.0         161040.0                 0             35966       2.0          TSLNWESTMORTGAGECOTNC' 1262013 1222013 72 1Endorsed 4.99 4.99 oN F i a 240000 161040 2500359 "o2"

In [183]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['prop_addr_zip_cd'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['prop_addr_zip_cd'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 10000) & (valid_ages <= 99999)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for Borr_Cnt in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for Borr_Cnt in df3 ---
Total Rows: 964665
Number of NaNs: 21567 (2.24%)
Values Inside: 771718 (80.00%)
Values Outside: 171380 (17.77%)

In [184]:
def normalize_ocr_for_zipcode(text):
    """
    Normalize OCR text to handle common misreads for zip code extraction.
    """
    if pd.isna(text):
        return ""
    
    text = str(text)
    
    # OCR character corrections for digits
    ocr_corrections = {
        'O': '0',
        'o': '0',
        'Q': '0',
        'q': '0',
        'I': '1',
        'i': '1',
        'l': '1',
        '|': '1',
        '!': '1',
        'S': '5',
        's': '5',
        'Z': '2',
        'z': '2',
        'B': '8',
        'b': '8',
    }
    
    corrected = []
    for char in text:
        corrected.append(ocr_corrections.get(char, char))
    
    return ''.join(corrected)

def extract_zipcode_from_raw_text(raw_text):
    """
    Extract prop_addr_zip_cd from raw_text2 using structural assumptions.
    
    The pattern is: ... [hecm_orgntn_fees] [prop_addr_zip_cd] [loan_typ]
    
    Strategy:
    1. Normalize OCR errors
    2. Find loan_typ pattern (two-digit strings like '02', '01', etc.)
    3. Search backwards to find a 5-digit number (the zip code)
    4. Validate that it falls in valid range (10000-99999)
    """
    if pd.isna(raw_text):
        return None
    
    # Normalize OCR errors
    normalized = normalize_ocr_for_zipcode(raw_text)
    
    # Define valid loan_typ values
    valid_loan_types = ['02', '01', '04', '05', '03', '06']
    
    # Find all occurrences of potential loan_typ patterns
    # Look for quoted or unquoted two-digit patterns
    loan_typ_pattern = r'["\']?0[0-6]["\']?'
    loan_typ_matches = list(re.finditer(loan_typ_pattern, normalized))
    
    # Also look for explicit valid loan types
    for loan_type in valid_loan_types:
        for match in re.finditer(re.escape(loan_type), normalized):
            loan_typ_matches.append(match)
    
    # Remove duplicates by position and sort by position
    unique_positions = {}
    for match in loan_typ_matches:
        pos = match.start()
        if pos not in unique_positions:
            unique_positions[pos] = match
    
    loan_typ_matches = sorted(unique_positions.values(), key=lambda m: m.start())
    
    # Try each loan_typ position (prefer rightmost as it's likely at end of row)
    for match in reversed(loan_typ_matches):
        loan_typ_pos = match.start()
        
        # Extract text before the loan_typ
        text_before_loan_typ = normalized[:loan_typ_pos]
        
        # Look for 5-digit sequences near the end of text_before_loan_typ
        # Search in the last 100 characters
        search_window = text_before_loan_typ[-100:] if len(text_before_loan_typ) > 100 else text_before_loan_typ
        
        # Find all 5-digit sequences
        five_digit_pattern = r'\b(\d{5})\b|(\d{5})'
        matches = list(re.finditer(five_digit_pattern, search_window))
        
        # Work backwards to find the closest 5-digit number to loan_typ
        for five_digit_match in reversed(matches):
            candidate = five_digit_match.group(0)
            
            try:
                zip_value = int(candidate)
                
                # Validate zip code range
                if 10000 <= zip_value <= 99999:
                    return zip_value
            except (ValueError, OverflowError):
                continue
    
    # Fallback: find all 5-digit sequences in entire text
    all_five_digits = re.findall(r'\d{5}', normalized)
    
    # Filter to valid zip code range
    for candidate in reversed(all_five_digits):
        try:
            zip_value = int(candidate)
            if 10000 <= zip_value <= 99999:
                return zip_value
        except (ValueError, OverflowError):
            continue
    
    # Additional fallback: look for 5-digit sequences with possible OCR noise
    # Extract all digit sequences and check if any are exactly 5 digits
    digit_sequences = re.findall(r'\d+', normalized)
    
    for seq in reversed(digit_sequences):
        if len(seq) == 5:
            try:
                zip_value = int(seq)
                if 10000 <= zip_value <= 99999:
                    return zip_value
            except (ValueError, OverflowError):
                continue
    
    return None

# Process rows where prop_addr_zip_cd is invalid or missing
for idx in df3.index:
    current_zip = df3.at[idx, 'prop_addr_zip_cd']
    
    # Determine if row needs correction
    needs_correction = False
    
    if pd.isna(current_zip):
        needs_correction = True
    else:
        try:
            zip_val = int(current_zip)
            if zip_val < 10000 or zip_val > 99999:
                needs_correction = True
        except (ValueError, TypeError):
            needs_correction = True
    
    # If correction needed, attempt extraction
    if needs_correction:
        raw_text = df3.at[idx, 'raw_text']
        
        extracted_zip = extract_zipcode_from_raw_text(raw_text)
        
        if extracted_zip is not None:
            df3.at[idx, 'prop_addr_zip_cd'] = extracted_zip

# Convert prop_addr_zip_cd to integer dtype where possible
# Use Int64 to allow NaN values if any remain
df3['prop_addr_zip_cd'] = df3['prop_addr_zip_cd'].astype('Int64')

C:\Users\Amit\AppData\Local\Temp\ipykernel_21612\891814782.py:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['prop_addr_zip_cd'] = df3['prop_addr_zip_cd'].astype('Int64')

In [185]:
# 1. Basic counts
total_rows = len(df3)
num_nans = df3['prop_addr_zip_cd'].isna().sum()
pct_nans = (num_nans / total_rows) * 100

# 2. Filter for non-NaN values to check ranges
valid_ages = df3['prop_addr_zip_cd'].dropna()

# 3. Inside Range (55 - 95)
inside_mask = (valid_ages >= 10000) & (valid_ages <= 99999)
num_inside = inside_mask.sum()
pct_inside = (num_inside / total_rows) * 100

# 4. Outside Range (< 55 or > 95)
num_outside = (~inside_mask).sum()
pct_outside = (num_outside / total_rows) * 100

# Display results
print(f"--- Statistics for Borr_Cnt in df3 ---")
print(f"Total Rows: {total_rows}")
print(f"Number of NaNs: {num_nans} ({pct_nans:.2f}%)")
print(f"Values Inside: {num_inside} ({pct_inside:.2f}%)")
print(f"Values Outside: {num_outside} ({pct_outside:.2f}%)")

--- Statistics for Borr_Cnt in df3 ---
Total Rows: 964665
Number of NaNs: 3580 (0.37%)
Values Inside: 950620 (98.54%)
Values Outside: 10465 (1.08%)

In [186]:
# 1. Define the range
low_bound = 10000
high_bound = 99999

# 2. Filter for NaNs OR values outside the 10000-99999 range
invalid_zip_df = df3[
    (df3['prop_addr_zip_cd'].isna()) | 
    (df3['prop_addr_zip_cd'] < low_bound) | 
    (df3['prop_addr_zip_cd'] > high_bound)
]

# 3. Display the results
print(f"Found {len(invalid_zip_df)} rows with invalid or missing ZIP codes.")
invalid_zip_df.head(20)

Found 14045 rows with invalid or missing ZIP codes.

     source_pdf  row_in_pdf                                                                                                                                                                                                                                                                 raw_text                                 lender   clsing_dt  endrsmt_dt    tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ                                                                                                                                                                                                                     raw_text2
234           1           1  "Lender" "clsng dt’ ‘endrsmnt_dt' trmtn_dt' ‘Horr Age’ 'Coborr_Age’ ‘Horr Cnt' ‘cs status’ ‘int _rt' ‘int_rt lyr’ ‘hecm margin’ ‘pd_strmln fig’ 'rt_typ' ‘arm indx typ’ ‘arm prde typ’ "max clm amt’ “init prncpl_Imt’  ‘hecm orgntn fees’ "prop _addr_zip_cd’ loan_typ                                    NaN         NaN         NaN         NaN        80        <NA>         1         NaN     NaN          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0              <NA>       NaN  Lender clsagdt' encrsantct' trantndt' "BorrAge' CoborrAge' "BorrCnt' "csstatus' intert'"intrtl0yr'hecmmargin' pestrainfle' 'rttyp''arnindxtyp" araprectyp' paxclmant' "initprneplInt hecmorgntnfees' propaddrziped 'loantyp'
321       10002          10                                                                                                                             ["FINANCTAL FREEDOM SENIOR FUNDING CORP’ | 11/29/2006] 6/27/2007] ui/a2/aoi6| | | Terminated’ |e sif os] nh we ay T7000] gorse of '2a502 02"  FINANCIAL FREEDOM SENIOR FUNDING CORP  11/29/2006   6/27/2007         NaN        61          70         2  Terminated     NaN          NaN          0.0            E    NaN          NaN          NaN         NaN              NaN                 0              2502       NaN                                                                                                                   FINANCTALFREEDOMSENIORFUNDINGCORP'11/29/20066/27/2007tiyez/zois73tTerminated6.SIt68PSNTa7000fgoaeo'2aso2fon
332       10002          21                                                                                                                                               ['WELLS FARGO BANK NA’ 2/6/2006] 12/28/2006] 12/2/2009] 72] | | Terminated’ | 6.45) 5.99 tnt ay 6000/0053] of '23a55_ "02"                    WELLS FARGO BANK NA    2/6/2006  12/28/2006   12/2/2009        72        <NA>         1  Terminated    6.45         5.99          0.0          NaN    NaN          NaN          NaN      6000.0             53.0                 0              2355       2.0                                                                                                                                           PWELLSFARGOBANKVAU126,200612/28/200612/2/200972tTerminated645Twtszo00ttosgfe3a5f02"
379       10001           2                                                                                                                                           [TRINANCIAL FREEDOM SENIOR FUNDING coRP’ | 1/7/2006] s/an/aoor] [eo] || indorsed TP) ae fn aye tass00 [ones [ 0 f'2370a "02" |  FINANCIAL FREEDOM SENIOR FUNDING CORP    1/7/2006         NaN         NaN        70        <NA>         1    Endorsed     NaN          NaN          0.0            S      F          NaN          NaN         NaN              NaN                 0                 2       2.0                                                                                                                                                       PLIVEWELLBINANCEALINCteynszo08vorzoorfzteEndorsedPawtoyoooPwteeztaws02"
380       10001           3                                                                                                                                                     ("LIVE WELL FINANCIAL INC’ 12/15/2006] a/vo/eoor| | 72] | | "Endorsed § {af 5.98] tnt ay togo00[ sae] of '23ias "02"                LIVE WELL FINANCIAL INC  12/15/2006         NaN         NaN        72        <NA>         1    Endorsed    5.98          NaN          2.0            A    NaN          NaN          NaN         NaN              NaN                 0                23       2.0                                                                                                                                               PLIVEWELLFINANCIALBNCT320061/5/20077/za/zo1ofBHEtTerminated6SPIN000gtgasfa3zz2o
385       10001           8                                                                                                                                                   ["SIDUS FINANCTAL Luc’ 1/2/2006] 3/12/2007] 9/to/aoi6| sof | Terminated’ | és3f Pe teh way aso00 | gt625[ of 2a6s1 02"                    SIDUS FINANCTAL LUC    1/2/2006   3/12/2007         NaN        61        <NA>         1  Terminated     NaN          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0               261       2.0                                                                                                                                PFINANCTALFREEDOMSENTORFENDINGCorPT29/2006Learzoo7tz/av2zon9TTTerminatedtTwsson0siznooazasao2"
401       10001          24                                                                                                                           [TFINANCIAL FREEDOM SENIOR FUNDING CORP’ | 1/11/2007] 3/14/2007 | to/a/aovo| az] Pa | Terminated [6.48] ef fn aye ra900[tozrso[ 0 f'2s70r "02"  FINANCIAL FREEDOM SENIOR FUNDING CORP   1/11/2007   3/14/2007         NaN        90        <NA>         1  Terminated    6.48          NaN          0.0            A      F          NaN          NaN         NaN              NaN                 0               270       2.0                                                                                                                                                      PSEATTLEMORTGAGEcowpany302007svsvzoo7ftAsignedaswtto00to7zooof'23509f02"
407       10001          30                                                                                                                                   [TRINANCTAL FREEDOM SENIOR FUNDING CORP’ | 12/15/2006] 1/23/2007] /az/aoi9| | | Terminated’ | at 98 Nh way aso00 | zas7s{ of a3222 on"  FINANCIAL FREEDOM SENIOR FUNDING CORP  12/15/2006   1/23/2007         NaN        91        <NA>         1  Terminated     NaN          NaN          0.0          NaN    NaN          NaN          NaN      1031.0              NaN                 0              3222       NaN                                                                                                                                            PFIRSTMARINERBANK'1031/20061/29/200710/sv201585tTerminated87wt0000zsofof'23320f02"
412       10001          35                                                                                                                                                        [JAMES B NUTTER AND Company’ | 11/30/2006] 1/10/2007] | | | Endorsed "| 6st] os} teh yh yt 5400/46] of '234g4 02"             JAMES B NUTTER AND COMPANY  11/30/2006   1/10/2007         NaN        65        <NA>         2    Endorsed     NaN          NaN          0.0            B    NaN          NaN          NaN      5400.0              NaN                 0              2344       2.0                                                                                                                                         SEATTLEMORTGAGECOMPANY'12/22/20062/22/200712t3Assigned6.456fNwayT3200088308'23890f02"
457       10000          14                                                                                                                                ["FINANCTAL FREEDOM SENIOR FUNDING CORP’ | 10/30/2006 | 3/7/2007] /a5/a016| | | Terminated’ | 6.55] of nh ways roo00|toass0f of'2a701 02"  FINANCIAL FREEDOM SENIOR FUNDING CORP  10/30/2006    3/7/2007         NaN        61        <NA>         1  Terminated    6.55          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0              2701       NaN                                                                                                                                       PPINANCIALFREEDOMSENTORFUNDINGCoRP'Tias2006avavzoortTOOEndorsedP658ws00tgesasofe3sse02"
465       10000          22                                                                                                                                                                [TSEATTLE MORTGAGE COMPANY’ 1/9/2006] i/a6/aoor[ sa] Assigned TP] af Pinay i900 avorass[ 0 f'23as2 "02" |               SEATTLE MORTGAGE COMPANY    1/9/2006         NaN         NaN        90        <NA>         1    Assigned     NaN          NaN          0.0            I      F          NaN          NaN      2713.0              NaN                 0                 2       2.0                                                                                                                   FINANCIALFREEDOMSENIORFUNDINGcORP'11/15/20062713/20071i/22/2oig6TTTerminated'6.531NTas35000tage95'23669f028
473       10000          30                                                                                                                                             [WELLS FARGO BANK NAY | 11/16/2006] 12/11/2006] 4/s/aoun| sa] | Terminated’ | 653) a fnew ay ar0000|atigso[ of 'a3ias * [o2"                    WELLS FARGO BANK NA  11/16/2006  12/11/2006  11/25/2016        65        <NA>         1  Terminated     NaN          NaN          0.0            S      A          NaN          NaN         NaN              NaN                 0               653     653.0                                                                                                                      FINANCIALFREEDOMSENIORFUNDINGCORP'T11/8/20063/28/200711/25/201663tTerminated'6.SATSNaT70007763'24592f02"
477       10000          34                                                                                                                                 [TFINANCTAL FREEDOM SENIOR FUNDING CORP’ | 11/8/2006] 3/28/2007] 1/25/2016] | | Terminated’ | 65] aT teh ways sooo] s776a{ of '2asg2 02"  FINANCIAL FREEDOM SENIOR FUNDING CORP   11/8/2006   3/28/2007   1/25/2016        65        <NA>         1  Terminated     NaN          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0                22       2.0                                                                                                                                     WELLSFARGOBANKNAY10/23/200611/27/20063/24/2016atTerminated'6.53SNwa'T0000tttz00'23228f02"
514       10003           5                                                                                                                    [FINANCIAL FREEDOM SENIOR FUNDING corp’ ___—i| 12/27/2006] 2/26/2007] __gvs/aois|_ 7] | | Terminated’ | 6.46) Ps tnt tay st5000[ sons] of '2aui7 "on"  FINANCIAL FREEDOM SENIOR FUNDING CORP  12/27/2006   2/26/2007         NaN        25        <NA>         2  Terminated    6.46          NaN          0.0            I    NaN          NaN          NaN         NaN              NaN                 0                27       NaN                                                                                                                      PFINANCIALFREEDOMSENIORFUNDINGCoRP'T1/25/20076/19/2007esizvzor773tTerminated'6.58fNat000togzzsf23437f02"
519       10003          10                                                                                                                                                     ["SIDUS FINANCIAL LLC’ 12/8/2006] 1/24/2007] 6/a7/aoie| | | Terminated’ | at 98] tne way aoo00| sesso of'23n68  fo2"                    SIDUS FINANCIAL LLC   12/8/2006   1/24/2007         NaN        98        <NA>         1  Terminated     NaN          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0                98      98.0                                                                                                                                                 PFINANCIALFREEDOMSENTORFENDINGCoRP'Ttaa32006vaizaoomHAssignedPRtrooTtzovooos0
529       10003          20                                                                                                                                      ["SEATTLE MORTGAGE COWPANY' | 12/8/2006] 2/22/2007] ayz/aows| 7a] | | Terminated’ | 6.45] 5.99 RE aye 9000 t97as5] of 'a24o7 "on" |               SEATTLE MORTGAGE COMPANY   12/8/2006   2/22/2007         NaN        97        <NA>         1  Terminated    6.45         5.99          0.0          NaN    NaN          NaN          NaN      9000.0              NaN                 0              <NA>       NaN                                                                                                                           PPINANCIALFREEDOMSENTORFUNDINGcoRPz/aav2o062/13/20072ravaoieatPTerrminated'aRTwT5000stwssfeze66d02"
549       10003          40                                                                                                                                                 [WELLS FARGO BANK NAT 2/5/2006] 1/12/2007] i/i/aono| 2 | Ta Terminated’ | at 98] nh we iy agoana|apaige.e7[ a 'aa729 on"                    WELLS FARGO BANK NA    2/5/2006   1/12/2007         NaN        98        <NA>         1  Terminated     NaN          NaN          0.0            I      I            A          NaN         NaN              NaN                 0                98      98.0                                                                                                                                                    SEATTLEMORTGAGECOMPANY'B2006zaz/zoo7tBE2Endorsed6.45tNtyez000tez7sf2350202
551       10003          42                                                                                                                                                    [WELLS FARGO BANK NAT 2/6/2006 1/5/2007] ui/az/eoia| go | Terminated’ | 645] 99 nh tw tay s@6000[aaovéa] of 'aois 02"                    WELLS FARGO BANK NA    2/6/2006    1/5/2007         NaN        64        <NA>         1  Terminated     NaN          NaN          0.0            S    NaN          NaN          NaN      6000.0              NaN                 0              <NA>       2.0                                                                                                                          PFINANCIALFREEDOMSENLORFUNDINGCORP'4/23/2007s/2i/2oo7avisvzozit73t6Terminated6E79000ft7603f'23827f02
556       10003          47                                                                                                                                              ['U.S. FINANCIAL MORTGAGE Corporation’ | 22/2007] a/ar/zoor] | ts] 8] |"tndorsed ' | 6.53) 2] tnt ay 00] sat of '2t5an "02"    U.S. FINANCIAL MORTGAGE CORPORATION         NaN         NaN         NaN      <NA>        <NA>         1    Endorsed    6.53          NaN          0.0            U      S            A          NaN      2007.0              NaN                 0                25       2.0                                                                                                                                    PWELLSFARGOBANK.NAYd22/2006/ig/2007g/ag/zoigTTtTerminated'6.45efN0t60tzggoa.gafof2ansnf02"
568       10003          59                                                                                                                                                             [HARVARD HOME MORTGAGE INC’ | 12/2006] 12/26/2006] | taf | 2 Endorsed "| 61] sf teh yh yt gto sggzs] 25a 02"              HARVARD HOME MORTGAGE INC  12/26/2006         NaN         NaN        61        <NA>         2    Endorsed     NaN          NaN          0.0          NaN    NaN          NaN          NaN      2006.0              NaN                 0                25       2.0                                                                                                                                           PWELLSFARGOBANK.NAYT127/z006/s/2007aevzoisTtTerminated6.45f99TINtvoottegoffzz63002"

## endrsmt_dt

In [187]:
# Calculate the percentage of NaNs for each column
(df3.notna().sum() / len(df3)) * 100

source_pdf          100.000000
row_in_pdf          100.000000
raw_text            100.000000
lender               99.939979
clsing_dt            94.160045
endrsmt_dt           89.228696
tmntn_dt             45.096692
Borr_Age             98.908740
Coborr_Age           45.017597
Borr_Cnt            100.000000
es_status            99.945370
int_rt               90.872583
int_rt_10yr          82.122498
hecm_margin          99.999274
pd_stmln_flg         90.288960
rt_typ               68.400326
arm_indx_typ         48.604852
arm_prdc_typ          5.519222
max_clm_amt          97.299995
init_prncpl_lmt      90.358829
hecm_orgntn_fees    100.000000
prop_addr_zip_cd     99.628887
loan_typ             98.726501
raw_text2            99.825432
dtype: float64

In [188]:
# 1. Define the regex pattern for M/D/YYYY
date_pattern = r'^\d{1,2}/\d{1,2}/\d{4}$'

# 2. Total count
total_rows = len(df3)

# 3. Calculate Counts
# Count NaNs
num_nans = df3['endrsmt_dt'].isna().sum()

# Count Correct Format (Match regex, ignore NaNs)
is_correct_format = df3['endrsmt_dt'].astype(str).str.match(date_pattern, na=False)
num_correct = is_correct_format.sum()

# Count Not NaN and Not Correct Format
# These are the ones that are populated but don't follow the rules
num_malformed = total_rows - num_nans - num_correct

# 4. Calculate Percentages
pct_nans = (num_nans / total_rows) * 100
pct_correct = (num_correct / total_rows) * 100
pct_malformed = (num_malformed / total_rows) * 100

# 5. Display Results Table
stats_data = {
    "Category": ["Missing (NaN)", "Correct Format (M/D/YYYY)", "Malformed (Not NaN/Not Correct)"],
    "Count": [num_nans, num_correct, num_malformed],
    "Percentage": [f"{pct_nans:.2f}%", f"{pct_correct:.2f}%", f"{pct_malformed:.2f}%"]
}

stats_df = pd.DataFrame(stats_data)
print(stats_df)

                          Category   Count Percentage
0                    Missing (NaN)  103907     10.77%
1        Correct Format (M/D/YYYY)  859498     89.10%
2  Malformed (Not NaN/Not Correct)    1260      0.13%

In [189]:
# Define the regex pattern for M(1-2)/D(1-2)/YYYY(4)
date_pattern = r'^\d{1,2}/\d{1,2}/\d{4}$'

# Filter for rows that:
# 1. Do NOT match the pattern (using ~)
# 2. Or are NaN (astype(str) turns NaN into 'nan', which won't match the pattern)
df3[~df3['endrsmt_dt'].astype(str).str.match(date_pattern, na=False)].head()

     source_pdf  row_in_pdf                                                                                                                                                                                                                                                                 raw_text                                 lender   clsing_dt endrsmt_dt tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ                                                                                                                                                                                                                     raw_text2
234           1           1  "Lender" "clsng dt’ ‘endrsmnt_dt' trmtn_dt' ‘Horr Age’ 'Coborr_Age’ ‘Horr Cnt' ‘cs status’ ‘int _rt' ‘int_rt lyr’ ‘hecm margin’ ‘pd_strmln fig’ 'rt_typ' ‘arm indx typ’ ‘arm prde typ’ "max clm amt’ “init prncpl_Imt’  ‘hecm orgntn fees’ "prop _addr_zip_cd’ loan_typ                                    NaN         NaN        NaN      NaN        80        <NA>         1         NaN     NaN          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0              <NA>       NaN  Lender clsagdt' encrsantct' trantndt' "BorrAge' CoborrAge' "BorrCnt' "csstatus' intert'"intrtl0yr'hecmmargin' pestrainfle' 'rttyp''arnindxtyp" araprectyp' paxclmant' "initprneplInt hecmorgntnfees' propaddrziped 'loantyp'
313       10002           2                                                                                                                                [TRINANCIAL FREEDOM SENIOR FUNDING CORP’ | 12/4/2006] 1/a0/2007|12/a/aoro| 6] Ta terminated’ [ean] Pe fn aye t6s000/ris500[ 0 f'23s2a [oa  FINANCIAL FREEDOM SENIOR FUNDING CORP   12/4/2006        NaN      NaN        71        <NA>         1  Terminated     NaN          NaN          0.0            A      F          NaN          NaN      2007.0              NaN                 0             65000       0.0                                                                                                                           PFINANCIALFREEDOMSENTORFUNDINGCoRP'T12/arz006/2a/2007i2/a/zoig6TtTerminated6.stfNwts000tssooffsza02
314       10002           3                                                                                                                                         "LIVE WELL FINANCIAL INC’ | 717/206] 12/26/2006] ovai/eor7| go] | | Terminated’ | 6.53) as tnt tay 260000 ziesio] of '23322 "on"                LIVE WELL FINANCIAL INC  12/26/2006        NaN      NaN        71        <NA>         1  Terminated    6.53          NaN          0.0          NaN    NaN          NaN          NaN    260000.0          23322.0                 0             23322   23322.0                                                                                                                                                PLIVEWELLBINANCEALINCizzoo8tev2erzoo6yaveor7otTerminated658w0000tsesoeszzef02"
315       10002           4                                                                                                                                                              [TWELLS FARGO BANK NAT | 72172006] 12/2072006[ ea] || tindorsed TP 653) fin aye 355000 testa [0 [22407 "02"                    WELLS FARGO BANK NA         NaN        NaN      NaN        72        <NA>         1    Endorsed     NaN          NaN          0.0          NaN    NaN          NaN          NaN  72172006.0        2072006.0                 0             22407       2.0                                                                                                                                                       PWEIISFARGOBANK.NAYeztz006izveo/zoo6Pwtindorsed6.88Nw85000tgaasfzeao702
318       10002           7                                                                                                                                                             [TFIRST MARINER BANK’ | t/t0/2006| 29/zoo7| | 3] | | Endorsed ' | 5] a] tt ay t90000/ tistso| of '235is "02"             TFIRST MARINER BANK'   T/T         NaN        NaN      NaN        61        <NA>         1    Endorsed     NaN          NaN          2.0            T      A          NaN          NaN      2006.0              NaN                 0             23515       2.0                                                                                                                                                              PFIRSTMARINERBANK't2006zovzoo7f8T6indorsedPwtp0000tizzooessisfo2

In [190]:
from datetime import datetime

def normalize_ocr_for_date(text):
    """
    Normalize OCR text to handle common misreads for date extraction.
    """
    if pd.isna(text):
        return ""
    
    text = str(text)
    
    # OCR character corrections for digits
    ocr_corrections = {
        'l': '1',
        'I': '1',
        '|': '1',
        'i': '1',
        'O': '0',
        'o': '0',
        'Q': '0',
        'q': '0',
        'S': '5',
        's': '5',
        'Z': '2',
        'z': '2',
        'B': '8',
        'b': '8',
    }
    
    corrected = []
    for char in text:
        corrected.append(ocr_corrections.get(char, char))
    
    return ''.join(corrected)

def is_valid_date(month, day, year):
    """
    Check if the given month, day, year form a valid date.
    """
    try:
        datetime(year, month, day)
        return True
    except (ValueError, OverflowError):
        return False

def extract_endrsmt_dt_from_raw_text(raw_text):
    """
    Extract endrsmt_dt from raw_text using structural assumptions.
    
    The endorsement date is typically:
    - After the lender name
    - The second date in the sequence (after clsing_dt, before tmntn_dt)
    - In M/D/YYYY format
    
    Strategy:
    1. Normalize OCR errors
    2. Find all date-like patterns (M/D/YYYY or MM/DD/YYYY)
    3. Validate each candidate
    4. Return the second valid date (if available)
    """
    if pd.isna(raw_text):
        return None
    
    # Normalize OCR errors
    normalized = normalize_ocr_for_date(raw_text)
    
    # Find all date-like patterns
    # Pattern: M/D/YYYY or MM/DD/YYYY with variations
    date_pattern = r'(\d{1,2})[/\-](\d{1,2})[/\-](\d{4})'
    date_matches = list(re.finditer(date_pattern, normalized))
    
    valid_dates = []
    
    for match in date_matches:
        month_str = match.group(1)
        day_str = match.group(2)
        year_str = match.group(3)
        
        try:
            month = int(month_str)
            day = int(day_str)
            year = int(year_str)
            
            # Validate date
            if is_valid_date(month, day, year):
                # Store as string in M/D/YYYY format
                date_str = f"{month}/{day}/{year}"
                valid_dates.append((date_str, match.start()))
        except (ValueError, OverflowError):
            continue
    
    # If we found at least 2 valid dates, return the second one (endrsmt_dt)
    if len(valid_dates) >= 2:
        return valid_dates[1][0]
    
    # If we only found 1 date, it might be the endorsement date
    # (clsing_dt might be missing or malformed)
    if len(valid_dates) == 1:
        return valid_dates[0][0]
    
    # Fallback: try more aggressive pattern matching
    # Look for dates with possible OCR noise around slashes
    relaxed_pattern = r'(\d{1,2})\s*[/\-\|]\s*(\d{1,2})\s*[/\-\|]\s*(\d{4})'
    relaxed_matches = list(re.finditer(relaxed_pattern, normalized))
    
    valid_dates_relaxed = []
    
    for match in relaxed_matches:
        month_str = match.group(1).strip()
        day_str = match.group(2).strip()
        year_str = match.group(3).strip()
        
        try:
            month = int(month_str)
            day = int(day_str)
            year = int(year_str)
            
            if is_valid_date(month, day, year):
                date_str = f"{month}/{day}/{year}"
                valid_dates_relaxed.append((date_str, match.start()))
        except (ValueError, OverflowError):
            continue
    
    if len(valid_dates_relaxed) >= 2:
        return valid_dates_relaxed[1][0]
    
    if len(valid_dates_relaxed) == 1:
        return valid_dates_relaxed[0][0]
    
    # Final fallback: extract all digit sequences and try to construct dates
    # Look for patterns like: number slash number slash 4-digit-year
    tokens = re.findall(r'\d+', normalized)
    
    # Try to find consecutive tokens that could form a date
    for i in range(len(tokens) - 2):
        try:
            month = int(tokens[i])
            day = int(tokens[i + 1])
            year = int(tokens[i + 2])
            
            # Check if year is 4 digits
            if len(tokens[i + 2]) == 4:
                if is_valid_date(month, day, year):
                    date_str = f"{month}/{day}/{year}"
                    # This is likely the first date, so continue looking
                    # Try next set
                    if i + 5 < len(tokens):
                        try:
                            month2 = int(tokens[i + 3])
                            day2 = int(tokens[i + 4])
                            year2 = int(tokens[i + 5])
                            
                            if len(tokens[i + 5]) == 4:
                                if is_valid_date(month2, day2, year2):
                                    return f"{month2}/{day2}/{year2}"
                        except (ValueError, OverflowError):
                            pass
                    
                    return date_str
        except (ValueError, OverflowError, IndexError):
            continue
    
    return None

# Process rows where endrsmt_dt is invalid or missing
for idx in df3.index:
    current_endrsmt_dt = df3.at[idx, 'endrsmt_dt']
    
    # Determine if row needs correction
    needs_correction = False
    
    if pd.isna(current_endrsmt_dt):
        needs_correction = True
    else:
        # Validate that it's a valid date string in M/D/YYYY format
        try:
            date_str = str(current_endrsmt_dt).strip()
            # Try to parse the date
            parts = date_str.split('/')
            if len(parts) == 3:
                month = int(parts[0])
                day = int(parts[1])
                year = int(parts[2])
                
                if not is_valid_date(month, day, year):
                    needs_correction = True
            else:
                needs_correction = True
        except (ValueError, AttributeError, IndexError):
            needs_correction = True
    
    # If correction needed, attempt extraction
    if needs_correction:
        raw_text = df3.at[idx, 'raw_text']
        
        extracted_date = extract_endrsmt_dt_from_raw_text(raw_text)
        
        if extracted_date is not None:
            df3.at[idx, 'endrsmt_dt'] = extracted_date

In [191]:
# 1. Define the regex pattern for M/D/YYYY
date_pattern = r'^\d{1,2}/\d{1,2}/\d{4}$'

# 2. Total count
total_rows = len(df3)

# 3. Calculate Counts
# Count NaNs
num_nans = df3['endrsmt_dt'].isna().sum()

# Count Correct Format (Match regex, ignore NaNs)
is_correct_format = df3['endrsmt_dt'].astype(str).str.match(date_pattern, na=False)
num_correct = is_correct_format.sum()

# Count Not NaN and Not Correct Format
# These are the ones that are populated but don't follow the rules
num_malformed = total_rows - num_nans - num_correct

# 4. Calculate Percentages
pct_nans = (num_nans / total_rows) * 100
pct_correct = (num_correct / total_rows) * 100
pct_malformed = (num_malformed / total_rows) * 100

# 5. Display Results Table
stats_data = {
    "Category": ["Missing (NaN)", "Correct Format (M/D/YYYY)", "Malformed (Not NaN/Not Correct)"],
    "Count": [num_nans, num_correct, num_malformed],
    "Percentage": [f"{pct_nans:.2f}%", f"{pct_correct:.2f}%", f"{pct_malformed:.2f}%"]
}

stats_df = pd.DataFrame(stats_data)
print(stats_df)

                          Category   Count Percentage
0                    Missing (NaN)   36380      3.77%
1        Correct Format (M/D/YYYY)  917044     95.06%
2  Malformed (Not NaN/Not Correct)   11241      1.17%

## clsing_dt

In [192]:
# 1. Define the regex pattern for M/D/YYYY
date_pattern = r'^\d{1,2}/\d{1,2}/\d{4}$'

# 2. Total count
total_rows = len(df3)

# 3. Calculate Counts
# Count NaNs
num_nans = df3['clsing_dt'].isna().sum()

# Count Correct Format (Match regex, ignore NaNs)
is_correct_format = df3['clsing_dt'].astype(str).str.match(date_pattern, na=False)
num_correct = is_correct_format.sum()

# Count Not NaN and Not Correct Format
# These are the ones that are populated but don't follow the rules
num_malformed = total_rows - num_nans - num_correct

# 4. Calculate Percentages
pct_nans = (num_nans / total_rows) * 100
pct_correct = (num_correct / total_rows) * 100
pct_malformed = (num_malformed / total_rows) * 100

# 5. Display Results Table
stats_data = {
    "Category": ["Missing (NaN)", "Correct Format (M/D/YYYY)", "Malformed (Not NaN/Not Correct)"],
    "Count": [num_nans, num_correct, num_malformed],
    "Percentage": [f"{pct_nans:.2f}%", f"{pct_correct:.2f}%", f"{pct_malformed:.2f}%"]
}

stats_df = pd.DataFrame(stats_data)
print(stats_df)

                          Category   Count Percentage
0                    Missing (NaN)   56336      5.84%
1        Correct Format (M/D/YYYY)  906155     93.93%
2  Malformed (Not NaN/Not Correct)    2174      0.23%

In [193]:
df3.head(20)

    source_pdf  row_in_pdf                                                                                                                               raw_text                       lender   clsing_dt endrsmt_dt   tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ                                                                                                                        raw_text2
0          100           1                                  "GMFS LLC" 12/31/2012 2/25/2013 2/16/2017 64 1 “Terminated 5.06 5.06 oR uo 117000 74529 0 ‘36108 *02"                     GMFS LLC  12/31/2012  2/25/2013  2/16/2017        64          64         1  Terminated  5.0600        5.060        0.000            R    NaN          NaN          NaN    117000.0          74529.0                 0             36108       2.0                                OMFSLe" 12'31'2012 27252013 2/16/2017 64 1Terminated' 5.06 5.06 O'R fF i 7 7000 74529 Q3H10R "O2"
1          100           2                     "ONE REVERSE MORTGAGE LLC’ 12/15/2012 1/25/2013 23 73 2 ‘Assigned 4.5 4.5 o'N’ r uo uo 200000 136200 o "36312 "02"     ONE REVERSE MORTGAGE LLC  12/15/2012  1/25/2013        NaN        73          73         2    Assigned  4.5000        4.500        0.000            O      N            R          NaN    200000.0         136200.0                 0             36312       2.0                        "ONEREVERSEMORTGAGEO007 12/15/2012 1/25/2013 73 73 2Assigned 4.5 4.5 oN fF i a 200000 136200 0363120 "O2"
2          100           3                              "SUN WEST MORTGAGE CO_INC’ 1/11/2013, 3/4/2013 ca 1 ‘Assigned 5.3 5.3 oN i i a 130000 86710 0 '36571 "02"     SUN WEST MORTGAGE CO INC   1/11/2013   3/4/2013        NaN        86        <NA>         1    Assigned  5.3000        5.300        0.000            I      I            A          NaN    130000.0          86710.0                 0             36571       2.0                                  "SLNBESTMORTGAGECOINC 111.2013 3e4/2013 ti 1"Assigned 5.3 5.3 O'S "F ct "30000 86710 Q"S671 on"
3          100           4                        “MSR_ASSET VEHICLE LLC’ 2/20/2013 7/25/2013 76 1 ‘Assigned 5.06 5.06 o IN’ Fr uo 300000 207900 5000 "36078 "02"        MSR ASSET VEHICLE LLC   2/20/2013  7/25/2013        NaN        76          76         2    Assigned  5.0600        5.060        0.000            O      F          NaN          NaN    300000.0         207900.0                 0             36078       2.0                            "MSRASSETVEHICLE1207 220,2013 7/25/2013 76 1Assigned' 5.06 5.06 6'N' "F . 300000 207900 500036078 pe"
4          100           5                       "SUN WEST MORTGAGE CO_TNC’ 1/26/2013 4/22/2013 2 1_‘Endorsed 4,99 4.99 oN’ - — uo 240000 161040 2500 "35966 "02"     SUN WEST MORTGAGE CO INC   1/26/2013  4/22/2013        NaN        72        <NA>         1    Endorsed  4.9900        4.990        0.000          NaN      F          NaN          NaN    240000.0         161040.0                 0             35966       2.0                                TSLNWESTMORTGAGECOTNC' 1262013 1222013 72 1Endorsed 4.99 4.99 oN F i a 240000 161040 2500359 "o2"
5          100           6                         "AMERICAN ADVISORS GROUP" 1/31/2013 3/27/2013 66 74 2 ‘Assigned 5.06 5.06 oN’ Fr uo 122000 74 2500 "36544 *02"      AMERICAN ADVISORS GROUP   1/31/2013  3/27/2013        NaN        66          74         2    Assigned  5.0600        5.060        0.000            N    NaN          NaN          NaN    122000.0           2500.0                 0             36544       2.0                       AMERICANADVISORSGROUP 1/31/2013 3/27/2013 66 74 2Assigned 5.06 5.06 O'N' PF i . 122000 ti 250036944 "02" ,
6          100           7                           "MSR ASSET VEHICLE LLC" 2/1/2013 3/1/2013 15 1 ‘Endorsed 5.06 5.06 oN Fr a oo 150000 103350 3000 "35222 "02"        MSR ASSET VEHICLE LLC    2/1/2013   3/1/2013        NaN      <NA>        <NA>         1    Endorsed  5.0600        5.060        0.000            A      F          NaN          NaN    150000.0         103350.0                 0             35222       2.0                                   "MoAssETVEHICUELLe 2.1,2013 Be12013 75 1'Eodarsed 5.06 5.06 ON 'F 150000 103350 3000935222 On"
7          100           8                        "DITECH MORTGAGE CORP" 1/31/2013 3/14/2013 79 1 "Assigned ' 3.99 3.99 oN’ r uo 155000 109430 3100 "36207 | "02"         DITECH MORTGAGE CORP   1/31/2013  3/14/2013        NaN        79        <NA>         1    Assigned  3.9900        3.990        0.000            R      F          NaN          NaN    155000.0         109430.0                 0             36207       2.0                             "TITECHMORTGAGECORP 1312013 3514/2013 79 1Assigned 3.99 3.99 O'N "F i . 155000 109430 310036207 "02'
8          100           9                       ONE REVERSE MORTGAGE LLC’ 12/22/2012 1/31/2013 62 1'Endorsed _' 4.99 4.99 o'N' uo 160000 99040 2500 "35053" "02"     ONE REVERSE MORTGAGE LLC  12/22/2012  1/31/2013        NaN        62        <NA>         1    Endorsed  4.9900        4.990        0.000            O      N          NaN          NaN    160000.0          99040.0                 0             35053       2.0                        CONE,REVERSEMORTGAGELL07 12/22/2012 131'2013 62 1Endursed 4.99 4.99 0'N' F oe 260000 99040 250035055 "U2"
9          100          10             "ONE REVERSE MORTGAGE LLC’ 1/25/2013 2/25/2013 68 1 ‘Endorsed 2.83 4.345 2.625 'N’ uw 1 ay 23000 14996, 2500 "35211 ' "02"     ONE REVERSE MORTGAGE LLC   1/25/2013  2/25/2013        NaN        68          83         2    Endorsed  2.8300        4.345        2.625            N    NaN          NaN          NaN     23000.0          14996.0                 0             35211       2.0                "ONEREVERSEMORTGAGE10.07 1/28/2013 2/25/2013 6k 1Endorsed 2.83 4.345 2.625'N' Ml TL Ww 23000 14996 250035211 "62'
10         100          11                             "DITECH MORTGAGE CORP" 1/11/2013, 2/26/2013 70 70 2 ‘Assigned 4.99 4.99 oN’ 7 uo 45000 29835 0 "35950 *02"         DITECH MORTGAGE CORP   1/11/2013  2/26/2013        NaN        70        <NA>         2    Assigned  4.9900        4.990        0.000            N      F          NaN          NaN     45000.0          29835.0                 0             35950       2.0                                BITECHMORTGAGECORP 1112013 2.26.2013 70 70 2Assigoed 4.99 4.99 O'N F a . 45000 29835 09359500 on"
11         100          12                     "DITECH MORTGAGE CORP" 4/25/2013 5/21/2013 5/8/2019 70 1 "Terminated 5.06 5.06 oN’ rr ut 54000 35802 o ‘36477 "02"         DITECH MORTGAGE CORP   4/25/2013  5/21/2013   5/8/2019        70          70         1  Terminated  5.0600        5.060        0.000            O      F          NaN          NaN     54000.0          35802.0                 0             36477       2.0                        "DITECHMORTGAGECORP" 425/2013 5/21/2013 5/8/2019 70 1Terminated' 5.Ob 5.O6 oN "F 54000 35802 QO36177 "02"
12         100          13                          "DITECH MORTGAGE CORP" 1/21/2013 3/4/2013 66 1 ‘Endorsed 3.206 4.92 3 UN we Lt “iM 101000 64842 0 "35235 "02"         DITECH MORTGAGE CORP   1/21/2013   3/4/2013        NaN        66        <NA>         1    Endorsed  3.2060        4.920        3.000          NaN    NaN          NaN          NaN    101000.0          64842.0                 0             35235       2.0                               DITECHMORTGAGECORP 1/212013 34/2013 fiti 1"Endorsed 3.206 4.92 BN Ww ao ahs 02000 E4842 O"AaHS "02
13         100          14                 "AMERICAN ADVISORS GROUP" 1/17/2013 3/4/2013 66 1 ‘Endorsed 2.7106 4.42 2.5 'N’ uw 1 ot 115000 73830 2500 "36904! "02"      AMERICAN ADVISORS GROUP   1/17/2013   3/4/2013        NaN        66          66         2    Endorsed  2.7106        4.420        2.500            N    NaN            L           1M    115000.0          73830.0                 0             36904       2.0                   "AMFRICANADVISORSGROLP" 1/17/2013 34/2013 66 1Endorsed 2.706 4.42 2.5'N' iw "L. 1M 115000 73830 250036904 "62"
14         100          15              "AMERICAN ADVISORS GROUP" 1/29/2013, 3/29/2013 2/1/2021 80 76 2 ‘Terminated’ 5.06 5.06 oN’ i oo 190000 131670 035650 "02"      AMERICAN ADVISORS GROUP   1/29/2013  3/29/2013   2/1/2021        80          76         2  Terminated  5.0600        5.060        0.000            I      F          NaN          NaN    190000.0         131670.0                 0             35650       2.0                    AMERICANADNISORSGROUF 1292013 3292013 2/1/2021 80 76 2Terminated 5,O6 5.06 0'N' F 7 90000 L31670 Q356500 "02"
15         100          16  “GENERATION MORTGAGE COMPANY" 2/14/2013 3/25/2013 3/6/2018 92 1 “Terminated! 2.7 4.56 2.5 'N’ uw Le ay 205000 159080 4050 "36532 *02"  GENERATION MORTGAGE COMPANY   2/14/2013  3/25/2013   3/6/2018        92          92         1  Terminated  2.7000        4.560        2.500            N    NaN          NaN          NaN    205000.0         159080.0                 0             36532       2.0  "GENERATIONMORTCAGECOMPANY" 2/14/2013 3/25/2013 3.62018 92 l"Terminated" 2.7 4.56 2.5'N' w LI etl 205000 159080 4050365320 "Q2'
16         100          17                                "NETWORK FUNDING LP" 1/21/2013 2/12/2013 70 66 2 ‘Assigned 5.06 5.06 oN r i a 400000 254800 o'3511 "02"           NETWORK FUNDING LP   1/21/2013  2/12/2013        NaN        70        <NA>         1    Assigned  5.0600        5.060        0.000            R      I            A          NaN    400000.0         254800.0                 0             25480       2.0                             NETAOKFUNBINGLP 1.212013 2e12.2013 70 665 2Assigned 5.06 5.06 0'N' 'F .' . 400000 254200 O35111 "02"
17         100          18            “MSR_ASSET VEHICLE LLC" 1/7/2013 3/15/2013 3/18/2019 2 1 "Terminated! 5.06 5.06 o UN’ r ot uo 96000 64992 2500 "36609! "02"        MSR ASSET VEHICLE LLC    1/7/2013  3/15/2013  3/18/2019        96        <NA>         1  Terminated  5.0600        5.060        0.000            O      R          NaN          NaN     96000.0          64992.0                 0             36609       2.0                  "MSRASSETVEHICLE12.07 1/7/2013 3/15/2013 3/18/2019 72 1'Terminated 5.06 5.06 o'N' F . 96000 64992 250036609 "92
18         100          19                     "DITECH MORTGAGE CORP" 2/5/2013 3/15/2013 3/13/2020 92 1_ "Terminated" 4.99 4.99 o'N' uo 68000 52768 0 "35585 "02"         DITECH MORTGAGE CORP    2/5/2013  3/15/2013  3/13/2020        92        <NA>         1  Terminated  4.9900        4.990        0.000            O      N          NaN          NaN     68000.0          52768.0                 0             35585       2.0                           DITECHMORTGAGECORF 2'5'2013 3152013 3/13/2020 92 1"Terminated 4.99 4.99 oN F oe 6000 52788 035585 "Q2'
19         100          20                      “DITCH MORTGAGE CORP" 1/16/2013 2/27/2013 70 70 2 ‘Assigned ' 4.75 4.75 o IN’ ca ot ut 147000 96873 0 ‘35670 *02"         DITECH MORTGAGE CORP   1/16/2013  2/27/2013        NaN        70          70         2    Assigned  4.7500        4.750        0.000            O      F          NaN          NaN    147000.0          96873.0                 0             35670       2.0                             DITECHMORTGAGECORP" 1716/2013 2/27/2013 70 70 2Assigned 4.75 4.75 ON 'F . 147000 96873 Q35670 , "02'

In [194]:
def normalize_ocr_for_date(text):
    """
    Normalize OCR text to handle common misreads for date extraction.
    """
    if pd.isna(text):
        return ""
    
    text = str(text)
    
    # OCR character corrections for digits
    ocr_corrections = {
        'l': '1',
        'I': '1',
        '|': '1',
        'i': '1',
        'O': '0',
        'o': '0',
        'Q': '0',
        'q': '0',
        'S': '5',
        's': '5',
        'Z': '2',
        'z': '2',
        'B': '8',
        'b': '8',
    }
    
    corrected = []
    for char in text:
        corrected.append(ocr_corrections.get(char, char))
    
    return ''.join(corrected)

def is_valid_date(month, day, year):
    """
    Check if the given month, day, year form a valid date.
    """
    try:
        datetime(year, month, day)
        return True
    except (ValueError, OverflowError):
        return False

def extract_clsing_dt_from_raw_text(raw_text):
    """
    Extract clsing_dt from raw_text.
    
    The closing date is typically:
    - The first date appearing after the lender name
    - Before the endorsement date (second date)
    - In M/D/YYYY format
    
    Strategy:
    1. Normalize OCR errors
    2. Find all date-like patterns (M/D/YYYY or MM/DD/YYYY)
    3. Validate each candidate
    4. Return the first valid date
    """
    if pd.isna(raw_text):
        return None
    
    # Normalize OCR errors
    normalized = normalize_ocr_for_date(raw_text)
    
    # Find all date-like patterns
    # Pattern: M/D/YYYY or MM/DD/YYYY with variations
    date_pattern = r'(\d{1,2})[/\-](\d{1,2})[/\-](\d{4})'
    date_matches = list(re.finditer(date_pattern, normalized))
    
    valid_dates = []
    
    for match in date_matches:
        month_str = match.group(1)
        day_str = match.group(2)
        year_str = match.group(3)
        
        try:
            month = int(month_str)
            day = int(day_str)
            year = int(year_str)
            
            # Validate date
            if is_valid_date(month, day, year):
                # Store as string in M/D/YYYY format
                date_str = f"{month}/{day}/{year}"
                valid_dates.append((date_str, match.start()))
        except (ValueError, OverflowError):
            continue
    
    # Return the first valid date (clsing_dt)
    if len(valid_dates) >= 1:
        return valid_dates[0][0]
    
    # Fallback: try more aggressive pattern matching
    # Look for dates with possible OCR noise around slashes
    relaxed_pattern = r'(\d{1,2})\s*[/\-\|]\s*(\d{1,2})\s*[/\-\|]\s*(\d{4})'
    relaxed_matches = list(re.finditer(relaxed_pattern, normalized))
    
    valid_dates_relaxed = []
    
    for match in relaxed_matches:
        month_str = match.group(1).strip()
        day_str = match.group(2).strip()
        year_str = match.group(3).strip()
        
        try:
            month = int(month_str)
            day = int(day_str)
            year = int(year_str)
            
            if is_valid_date(month, day, year):
                date_str = f"{month}/{day}/{year}"
                valid_dates_relaxed.append((date_str, match.start()))
        except (ValueError, OverflowError):
            continue
    
    if len(valid_dates_relaxed) >= 1:
        return valid_dates_relaxed[0][0]
    
    # Additional fallback: look for dates without clear separators
    # Pattern: MMDDYYYY or M/D/YYYY with missing slashes
    no_separator_pattern = r'(\d{1,2})(\d{1,2})(\d{4})'
    
    # Try to find sequences that could be dates
    all_digit_sequences = re.findall(r'\d+', normalized)
    
    for seq in all_digit_sequences:
        # Try to parse as date with various interpretations
        if len(seq) == 8:  # MMDDYYYY
            try:
                month = int(seq[0:2])
                day = int(seq[2:4])
                year = int(seq[4:8])
                
                if is_valid_date(month, day, year):
                    return f"{month}/{day}/{year}"
            except (ValueError, OverflowError):
                pass
            
            # Try M/DD/YYYY
            try:
                month = int(seq[0:1])
                day = int(seq[1:3])
                year = int(seq[3:7])
                
                if is_valid_date(month, day, year):
                    return f"{month}/{day}/{year}"
            except (ValueError, OverflowError, IndexError):
                pass
        
        if len(seq) == 7:  # M/D/YYYY without separators
            try:
                month = int(seq[0:1])
                day = int(seq[1:2])
                year = int(seq[2:6])
                
                if is_valid_date(month, day, year):
                    return f"{month}/{day}/{year}"
            except (ValueError, OverflowError, IndexError):
                pass
    
    # Final fallback: extract all digit sequences and try to construct dates
    tokens = re.findall(r'\d+', normalized)
    
    # Try to find consecutive tokens that could form a date
    for i in range(len(tokens) - 2):
        try:
            month = int(tokens[i])
            day = int(tokens[i + 1])
            year = int(tokens[i + 2])
            
            # Check if year is 4 digits
            if len(tokens[i + 2]) == 4:
                if is_valid_date(month, day, year):
                    return f"{month}/{day}/{year}"
        except (ValueError, OverflowError, IndexError):
            continue
    
    return None

# Process all rows to extract clsing_dt from raw_text
for idx in df3.index:
    raw_text = df3.at[idx, 'raw_text']
    
    extracted_date = extract_clsing_dt_from_raw_text(raw_text)
    
    if extracted_date is not None:
        df3.at[idx, 'clsing_dt'] = extracted_date

In [195]:
# 1. Define the regex pattern for M/D/YYYY
date_pattern = r'^\d{1,2}/\d{1,2}/\d{4}$'

# 2. Total count
total_rows = len(df3)

# 3. Calculate Counts
# Count NaNs
num_nans = df3['clsing_dt'].isna().sum()

# Count Correct Format (Match regex, ignore NaNs)
is_correct_format = df3['clsing_dt'].astype(str).str.match(date_pattern, na=False)
num_correct = is_correct_format.sum()

# Count Not NaN and Not Correct Format
# These are the ones that are populated but don't follow the rules
num_malformed = total_rows - num_nans - num_correct

# 4. Calculate Percentages
pct_nans = (num_nans / total_rows) * 100
pct_correct = (num_correct / total_rows) * 100
pct_malformed = (num_malformed / total_rows) * 100

# 5. Display Results Table
stats_data = {
    "Category": ["Missing (NaN)", "Correct Format (M/D/YYYY)", "Malformed (Not NaN/Not Correct)"],
    "Count": [num_nans, num_correct, num_malformed],
    "Percentage": [f"{pct_nans:.2f}%", f"{pct_correct:.2f}%", f"{pct_malformed:.2f}%"]
}

stats_df = pd.DataFrame(stats_data)
print(stats_df)

                          Category   Count Percentage
0                    Missing (NaN)   31547      3.27%
1        Correct Format (M/D/YYYY)  921789     95.56%
2  Malformed (Not NaN/Not Correct)   11329      1.17%

In [196]:
df3.head(20)

    source_pdf  row_in_pdf                                                                                                                               raw_text                       lender   clsing_dt endrsmt_dt   tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ                                                                                                                        raw_text2
0          100           1                                  "GMFS LLC" 12/31/2012 2/25/2013 2/16/2017 64 1 “Terminated 5.06 5.06 oR uo 117000 74529 0 ‘36108 *02"                     GMFS LLC  12/31/2012  2/25/2013  2/16/2017        64          64         1  Terminated  5.0600        5.060        0.000            R    NaN          NaN          NaN    117000.0          74529.0                 0             36108       2.0                                OMFSLe" 12'31'2012 27252013 2/16/2017 64 1Terminated' 5.06 5.06 O'R fF i 7 7000 74529 Q3H10R "O2"
1          100           2                     "ONE REVERSE MORTGAGE LLC’ 12/15/2012 1/25/2013 23 73 2 ‘Assigned 4.5 4.5 o'N’ r uo uo 200000 136200 o "36312 "02"     ONE REVERSE MORTGAGE LLC  12/15/2012  1/25/2013        NaN        73          73         2    Assigned  4.5000        4.500        0.000            O      N            R          NaN    200000.0         136200.0                 0             36312       2.0                        "ONEREVERSEMORTGAGEO007 12/15/2012 1/25/2013 73 73 2Assigned 4.5 4.5 oN fF i a 200000 136200 0363120 "O2"
2          100           3                              "SUN WEST MORTGAGE CO_INC’ 1/11/2013, 3/4/2013 ca 1 ‘Assigned 5.3 5.3 oN i i a 130000 86710 0 '36571 "02"     SUN WEST MORTGAGE CO INC   1/11/2013   3/4/2013        NaN        86        <NA>         1    Assigned  5.3000        5.300        0.000            I      I            A          NaN    130000.0          86710.0                 0             36571       2.0                                  "SLNBESTMORTGAGECOINC 111.2013 3e4/2013 ti 1"Assigned 5.3 5.3 O'S "F ct "30000 86710 Q"S671 on"
3          100           4                        “MSR_ASSET VEHICLE LLC’ 2/20/2013 7/25/2013 76 1 ‘Assigned 5.06 5.06 o IN’ Fr uo 300000 207900 5000 "36078 "02"        MSR ASSET VEHICLE LLC   2/20/2013  7/25/2013        NaN        76          76         2    Assigned  5.0600        5.060        0.000            O      F          NaN          NaN    300000.0         207900.0                 0             36078       2.0                            "MSRASSETVEHICLE1207 220,2013 7/25/2013 76 1Assigned' 5.06 5.06 6'N' "F . 300000 207900 500036078 pe"
4          100           5                       "SUN WEST MORTGAGE CO_TNC’ 1/26/2013 4/22/2013 2 1_‘Endorsed 4,99 4.99 oN’ - — uo 240000 161040 2500 "35966 "02"     SUN WEST MORTGAGE CO INC   1/26/2013  4/22/2013        NaN        72        <NA>         1    Endorsed  4.9900        4.990        0.000          NaN      F          NaN          NaN    240000.0         161040.0                 0             35966       2.0                                TSLNWESTMORTGAGECOTNC' 1262013 1222013 72 1Endorsed 4.99 4.99 oN F i a 240000 161040 2500359 "o2"
5          100           6                         "AMERICAN ADVISORS GROUP" 1/31/2013 3/27/2013 66 74 2 ‘Assigned 5.06 5.06 oN’ Fr uo 122000 74 2500 "36544 *02"      AMERICAN ADVISORS GROUP   1/31/2013  3/27/2013        NaN        66          74         2    Assigned  5.0600        5.060        0.000            N    NaN          NaN          NaN    122000.0           2500.0                 0             36544       2.0                       AMERICANADVISORSGROUP 1/31/2013 3/27/2013 66 74 2Assigned 5.06 5.06 O'N' PF i . 122000 ti 250036944 "02" ,
6          100           7                           "MSR ASSET VEHICLE LLC" 2/1/2013 3/1/2013 15 1 ‘Endorsed 5.06 5.06 oN Fr a oo 150000 103350 3000 "35222 "02"        MSR ASSET VEHICLE LLC    2/1/2013   3/1/2013        NaN      <NA>        <NA>         1    Endorsed  5.0600        5.060        0.000            A      F          NaN          NaN    150000.0         103350.0                 0             35222       2.0                                   "MoAssETVEHICUELLe 2.1,2013 Be12013 75 1'Eodarsed 5.06 5.06 ON 'F 150000 103350 3000935222 On"
7          100           8                        "DITECH MORTGAGE CORP" 1/31/2013 3/14/2013 79 1 "Assigned ' 3.99 3.99 oN’ r uo 155000 109430 3100 "36207 | "02"         DITECH MORTGAGE CORP   1/31/2013  3/14/2013        NaN        79        <NA>         1    Assigned  3.9900        3.990        0.000            R      F          NaN          NaN    155000.0         109430.0                 0             36207       2.0                             "TITECHMORTGAGECORP 1312013 3514/2013 79 1Assigned 3.99 3.99 O'N "F i . 155000 109430 310036207 "02'
8          100           9                       ONE REVERSE MORTGAGE LLC’ 12/22/2012 1/31/2013 62 1'Endorsed _' 4.99 4.99 o'N' uo 160000 99040 2500 "35053" "02"     ONE REVERSE MORTGAGE LLC  12/22/2012  1/31/2013        NaN        62        <NA>         1    Endorsed  4.9900        4.990        0.000            O      N          NaN          NaN    160000.0          99040.0                 0             35053       2.0                        CONE,REVERSEMORTGAGELL07 12/22/2012 131'2013 62 1Endursed 4.99 4.99 0'N' F oe 260000 99040 250035055 "U2"
9          100          10             "ONE REVERSE MORTGAGE LLC’ 1/25/2013 2/25/2013 68 1 ‘Endorsed 2.83 4.345 2.625 'N’ uw 1 ay 23000 14996, 2500 "35211 ' "02"     ONE REVERSE MORTGAGE LLC   1/25/2013  2/25/2013        NaN        68          83         2    Endorsed  2.8300        4.345        2.625            N    NaN          NaN          NaN     23000.0          14996.0                 0             35211       2.0                "ONEREVERSEMORTGAGE10.07 1/28/2013 2/25/2013 6k 1Endorsed 2.83 4.345 2.625'N' Ml TL Ww 23000 14996 250035211 "62'
10         100          11                             "DITECH MORTGAGE CORP" 1/11/2013, 2/26/2013 70 70 2 ‘Assigned 4.99 4.99 oN’ 7 uo 45000 29835 0 "35950 *02"         DITECH MORTGAGE CORP   1/11/2013  2/26/2013        NaN        70        <NA>         2    Assigned  4.9900        4.990        0.000            N      F          NaN          NaN     45000.0          29835.0                 0             35950       2.0                                BITECHMORTGAGECORP 1112013 2.26.2013 70 70 2Assigoed 4.99 4.99 O'N F a . 45000 29835 09359500 on"
11         100          12                     "DITECH MORTGAGE CORP" 4/25/2013 5/21/2013 5/8/2019 70 1 "Terminated 5.06 5.06 oN’ rr ut 54000 35802 o ‘36477 "02"         DITECH MORTGAGE CORP   4/25/2013  5/21/2013   5/8/2019        70          70         1  Terminated  5.0600        5.060        0.000            O      F          NaN          NaN     54000.0          35802.0                 0             36477       2.0                        "DITECHMORTGAGECORP" 425/2013 5/21/2013 5/8/2019 70 1Terminated' 5.Ob 5.O6 oN "F 54000 35802 QO36177 "02"
12         100          13                          "DITECH MORTGAGE CORP" 1/21/2013 3/4/2013 66 1 ‘Endorsed 3.206 4.92 3 UN we Lt “iM 101000 64842 0 "35235 "02"         DITECH MORTGAGE CORP   1/21/2013   3/4/2013        NaN        66        <NA>         1    Endorsed  3.2060        4.920        3.000          NaN    NaN          NaN          NaN    101000.0          64842.0                 0             35235       2.0                               DITECHMORTGAGECORP 1/212013 34/2013 fiti 1"Endorsed 3.206 4.92 BN Ww ao ahs 02000 E4842 O"AaHS "02
13         100          14                 "AMERICAN ADVISORS GROUP" 1/17/2013 3/4/2013 66 1 ‘Endorsed 2.7106 4.42 2.5 'N’ uw 1 ot 115000 73830 2500 "36904! "02"      AMERICAN ADVISORS GROUP   1/17/2013   3/4/2013        NaN        66          66         2    Endorsed  2.7106        4.420        2.500            N    NaN            L           1M    115000.0          73830.0                 0             36904       2.0                   "AMFRICANADVISORSGROLP" 1/17/2013 34/2013 66 1Endorsed 2.706 4.42 2.5'N' iw "L. 1M 115000 73830 250036904 "62"
14         100          15              "AMERICAN ADVISORS GROUP" 1/29/2013, 3/29/2013 2/1/2021 80 76 2 ‘Terminated’ 5.06 5.06 oN’ i oo 190000 131670 035650 "02"      AMERICAN ADVISORS GROUP   1/29/2013  3/29/2013   2/1/2021        80          76         2  Terminated  5.0600        5.060        0.000            I      F          NaN          NaN    190000.0         131670.0                 0             35650       2.0                    AMERICANADNISORSGROUF 1292013 3292013 2/1/2021 80 76 2Terminated 5,O6 5.06 0'N' F 7 90000 L31670 Q356500 "02"
15         100          16  “GENERATION MORTGAGE COMPANY" 2/14/2013 3/25/2013 3/6/2018 92 1 “Terminated! 2.7 4.56 2.5 'N’ uw Le ay 205000 159080 4050 "36532 *02"  GENERATION MORTGAGE COMPANY   2/14/2013  3/25/2013   3/6/2018        92          92         1  Terminated  2.7000        4.560        2.500            N    NaN          NaN          NaN    205000.0         159080.0                 0             36532       2.0  "GENERATIONMORTCAGECOMPANY" 2/14/2013 3/25/2013 3.62018 92 l"Terminated" 2.7 4.56 2.5'N' w LI etl 205000 159080 4050365320 "Q2'
16         100          17                                "NETWORK FUNDING LP" 1/21/2013 2/12/2013 70 66 2 ‘Assigned 5.06 5.06 oN r i a 400000 254800 o'3511 "02"           NETWORK FUNDING LP   1/21/2013  2/12/2013        NaN        70        <NA>         1    Assigned  5.0600        5.060        0.000            R      I            A          NaN    400000.0         254800.0                 0             25480       2.0                             NETAOKFUNBINGLP 1.212013 2e12.2013 70 665 2Assigned 5.06 5.06 0'N' 'F .' . 400000 254200 O35111 "02"
17         100          18            “MSR_ASSET VEHICLE LLC" 1/7/2013 3/15/2013 3/18/2019 2 1 "Terminated! 5.06 5.06 o UN’ r ot uo 96000 64992 2500 "36609! "02"        MSR ASSET VEHICLE LLC    1/7/2013  3/15/2013  3/18/2019        96        <NA>         1  Terminated  5.0600        5.060        0.000            O      R          NaN          NaN     96000.0          64992.0                 0             36609       2.0                  "MSRASSETVEHICLE12.07 1/7/2013 3/15/2013 3/18/2019 72 1'Terminated 5.06 5.06 o'N' F . 96000 64992 250036609 "92
18         100          19                     "DITECH MORTGAGE CORP" 2/5/2013 3/15/2013 3/13/2020 92 1_ "Terminated" 4.99 4.99 o'N' uo 68000 52768 0 "35585 "02"         DITECH MORTGAGE CORP    2/5/2013  3/15/2013  3/13/2020        92        <NA>         1  Terminated  4.9900        4.990        0.000            O      N          NaN          NaN     68000.0          52768.0                 0             35585       2.0                           DITECHMORTGAGECORF 2'5'2013 3152013 3/13/2020 92 1"Terminated 4.99 4.99 oN F oe 6000 52788 035585 "Q2'
19         100          20                      “DITCH MORTGAGE CORP" 1/16/2013 2/27/2013 70 70 2 ‘Assigned ' 4.75 4.75 o IN’ ca ot ut 147000 96873 0 ‘35670 *02"         DITECH MORTGAGE CORP   1/16/2013  2/27/2013        NaN        70          70         2    Assigned  4.7500        4.750        0.000            O      F          NaN          NaN    147000.0          96873.0                 0             35670       2.0                             DITECHMORTGAGECORP" 1716/2013 2/27/2013 70 70 2Assigned 4.75 4.75 ON 'F . 147000 96873 Q35670 , "02'

## int_rt

In [197]:
# 1. Ensure the column is numeric (handles strings like '5.25%' if they exist)
df3['int_rt'] = pd.to_numeric(df3['int_rt'].astype(str).str.replace('%', ''), errors='coerce')

# 2. Define the bounds
low_rt = 1.5
high_rt = 9.5

# 3. Filter for NaNs OR values outside the [1.5, 7.5] range
invalid_rate_df = df3[
    (df3['int_rt'].isna()) | 
    (df3['int_rt'] < low_rt) | 
    (df3['int_rt'] > high_rt)
]

# 4. Display results
print(f"Found {len(invalid_rate_df)} rows with invalid or missing interest rates.")
invalid_rate_df.head()

Found 95644 rows with invalid or missing interest rates.

C:\Users\Amit\AppData\Local\Temp\ipykernel_21612\2552132236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['int_rt'] = pd.to_numeric(df3['int_rt'].astype(str).str.replace('%', ''), errors='coerce')

     source_pdf  row_in_pdf                                                                                                                                                                                                                                                                 raw_text                        lender  clsing_dt  endrsmt_dt    tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status    int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ                                                                                                                                                                                                                     raw_text2
106        1000          29                                                                                                                                            "BANK OF AMERICA NA CHARLOTTE" 1/25/2010 2/23/2010 3/2/2020 78 1 ‘Terminated 5. 56 5. 56 oN oo 625500 426591 6000 "95409 "02"  BANK OF AMERICA NA CHARLOTTE  1/25/2010   2/23/2010    3/2/2020        78        <NA>         1  Terminated       NaN          NaN          0.0            N      F          NaN          NaN    625500.0         426591.0                 0             95409       2.0                                                                                                                 BANKOFAMERICASACHARLOTTE' 1252010 223'2010 3/2/2020 78 1Terminated 9.S 5.S6 0'N F 625500 426591 600095409 Q2"
116        1000          39                                                                                                                                         "BANK OF AMERICA NA CHARLOTTE" 1/14/2010 2/22/2010 9/12/2012 89 1 ‘Terminated’ 5, 56 5. 56 oN a 625500 474754.5 6000 "94122 "02"  BANK OF AMERICA NA CHARLOTTE  1/14/2010   2/22/2010   9/12/2012        89        <NA>         1  Terminated  474754.5          NaN          0.0            A    NaN          NaN          NaN    625500.0           6000.0                 0             94122       2.0                                                                                                         BANKOFAMERICANACUARLOTTO' 114'2010 222'2010 9/12/2012 89 1"Termineted' 5,S6 5.56 0'N aa 625500 ATATSA,5 600094122 02"
234           1           1  "Lender" "clsng dt’ ‘endrsmnt_dt' trmtn_dt' ‘Horr Age’ 'Coborr_Age’ ‘Horr Cnt' ‘cs status’ ‘int _rt' ‘int_rt lyr’ ‘hecm margin’ ‘pd_strmln fig’ 'rt_typ' ‘arm indx typ’ ‘arm prde typ’ "max clm amt’ “init prncpl_Imt’  ‘hecm orgntn fees’ "prop _addr_zip_cd’ loan_typ                           NaN        NaN         NaN         NaN        80        <NA>         1         NaN       NaN          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0              <NA>       NaN  Lender clsagdt' encrsantct' trantndt' "BorrAge' CoborrAge' "BorrCnt' "csstatus' intert'"intrtl0yr'hecmmargin' pestrainfle' 'rttyp''arnindxtyp" araprectyp' paxclmant' "initprneplInt hecmorgntnfees' propaddrziped 'loantyp'
243           1          10                                                                                                                                                "HOMESTEAD MORTGAGE INC 9/3/1993 12/3/1993 11/19/1996 76 1 “Terminated ran can 16 IN’ a T ny 55500 34021.5 o ‘36693! "02"        HOMESTEAD MORTGAGE INC   9/3/1993   12/3/1993  11/19/1996        76          76         1  Terminated   34021.5         7.11          1.6            A      T            O          NaN     55500.0          36693.0                 0             36693       2.0                                                                                                      "HOMESTEADMORTGAGEINC" 9.3y1993 12/3/1993 11/19/1996 76 1'Terminated' 7.11 7.11 1.6'N' A' T ow 45500 34021.5 O36693 "02"
288           1          55                                                                                                                                           "INTERSOUTH MORTGAGE INC" 6/16/1995 11/13/1995 12/17/1996 80 1 "Terminated" 18 18 16 1c zy T ny" 102700 61290. 2 0 "35216 "05"       INTERSOUTH MORTGAGE INC  6/16/1995  11/13/1995  12/17/1996        80          80         1  Terminated       NaN          NaN          0.0            T      A            T          NaN    102700.0          61290.0                 0             35216       5.0                                                                                                           INTERSOLTHHORTOAGETNC 68.16.1993 11.1321995 12171996 80 1Terminated 7.8 7.8 ne "A" T Wy" 02700 642Z90.2 Q935216 "08

In [198]:
# 1. Convert column to numeric (to handle any strings/floats consistently)
# We'll keep a copy of the original to differentiate between true NaNs and parsing errors if needed,
# but for the range check, numeric is best.
numeric_rt = pd.to_numeric(df3['int_rt'], errors='coerce')

# 2. Total count
total_rows = len(df3)

# 3. Calculate Counts
# Category A: NaN (Missing)
num_nan = df3['int_rt'].isna().sum()

# Category B: Right Format (Numeric and between 1.5 and 7.5)
num_right = ((numeric_rt >= 2.0) & (numeric_rt <= 9.5)).sum()

# Category C: Wrong Format (Not NaN, but not in the 1.5-7.5 range)
# This includes numbers like 0.0, 12.5, or strings that couldn't be converted
num_wrong = total_rows - num_nan - num_right

# 4. Calculate Percentages
pct_nan = (num_nan / total_rows) * 100 if total_rows > 0 else 0
pct_right = (num_right / total_rows) * 100 if total_rows > 0 else 0
pct_wrong = (num_wrong / total_rows) * 100 if total_rows > 0 else 0

# 5. Output Results
results = pd.DataFrame({
    'Category': ['Right Format (1.5 - 9.5)', 'Wrong Format (Out of Range)', 'NaN (Missing)'],
    'Count': [num_right, num_wrong, num_nan],
    'Percentage': [f"{pct_right:.2f}%", f"{pct_wrong:.2f}%", f"{pct_nan:.2f}%"]
})

print("--- Interest Rate (int_rt) Data Quality Report ---")
print(results.to_string(index=False))

--- Interest Rate (int_rt) Data Quality Report ---
                   Category  Count Percentage
   Right Format (1.5 - 9.5) 862956     89.46%
Wrong Format (Out of Range)  13660      1.42%
              NaN (Missing)  88049      9.13%

In [199]:
# ---------------------------
# OCR NORMALIZATION
# ---------------------------

def _normalize_ocr(text: str) -> str:
    if not isinstance(text, str):
        return ""

    t = text.upper()

    # Character-level OCR corrections
    char_map = {
        'O': '0',
        'Q': '0',
        'D': '0',
        'S': '5',
        'B': '8',
        'I': '1',
        'L': '1',
        ',': '.',
        '|': ' ',
        '’': ' ',
        "'": ' ',
        '"': ' ',
    }
    for k, v in char_map.items():
        t = t.replace(k, v)

    # Collapse whitespace
    t = re.sub(r'\s+', ' ', t)

    # Repair split decimals: "5 . 56", "5. 56", "5 .56"
    t = re.sub(r'(\d)\s*\.\s*(\d)', r'\1.\2', t)

    # Repair spaced digits: "5 56" -> "5.56"
    t = re.sub(r'\b([2-9])\s+([0-9]{2})\b', r'\1.\2', t)

    return t


# ---------------------------
# NUMERIC CANDIDATE GENERATION
# ---------------------------

def _generate_rate_variants(token: str):
    """
    Given a numeric-looking token, generate plausible float interpretations.
    """
    variants = set()

    try:
        f = float(token)
        variants.add(f)
    except Exception:
        pass

    # Missing decimal inference: "556" -> 5.56, "711" -> 7.11
    if token.isdigit() and len(token) == 3:
        variants.add(float(token[0] + '.' + token[1:]))

    # Two-digit integer like "18" -> 7.8 (OCR 78) or 6.8 etc is too risky, skip

    return variants


def _extract_numeric_tokens(text: str):
    """
    Extract numeric-like tokens with positions.
    """
    tokens = []
    for m in re.finditer(r'\b\d{1,4}(?:\.\d{1,3})?\b', text):
        tokens.append((m.group(), m.start()))
    return tokens


# ---------------------------
# POSITIONAL HELPERS
# ---------------------------

def _find_es_status_pos(text: str) -> int:
    m = re.search(r'\b(TERMINATED|ASSIGNED|ENDORSED)\b', text)
    return m.end() if m else 0


def _find_anchor_positions(text: str):
    """
    Approximate anchor positions for later fields to bound search.
    """
    anchors = {}
    for label, pat in {
        'pd_flag': r'\b[NCRH]\b',
        'rt_typ': r'\b[A MF]\b',
    }.items():
        m = re.search(pat, text)
        if m:
            anchors[label] = m.start()
    return anchors


# ---------------------------
# CORE SELECTION LOGIC
# ---------------------------

def _select_int_rate(norm_text, int_rt_10yr):
    es_pos = _find_es_status_pos(norm_text)
    anchors = _find_anchor_positions(norm_text)

    tokens = _extract_numeric_tokens(norm_text)

    candidates = []

    for tok, pos in tokens:
        for v in _generate_rate_variants(tok):
            if 2.0 <= v <= 9.5:
                candidates.append({
                    'val': v,
                    'pos': pos
                })

    if not candidates:
        return np.nan

    # Prefer values after es_status
    for c in candidates:
        c['after_es'] = c['pos'] >= es_pos

    # Prefer values before later anchors (pd_stmln_flg, rt_typ)
    for c in candidates:
        c['before_anchor'] = True
        for a in anchors.values():
            if c['pos'] > a:
                c['before_anchor'] = False
                break

    # Distance to int_rt_10yr if available
    for c in candidates:
        if pd.notna(int_rt_10yr):
            c['delta_10yr'] = abs(c['val'] - int_rt_10yr)
        else:
            c['delta_10yr'] = 0.0

    # Composite ranking
    candidates.sort(
        key=lambda c: (
            not c['after_es'],
            not c['before_anchor'],
            c['delta_10yr'],
            c['pos']
        )
    )

    return candidates[0]['val']


# ---------------------------
# ROW-LEVEL APPLY
# ---------------------------

def _fill_int_rt(row):
    cur = row['int_rt']
    if pd.notna(cur) and 2.0 <= cur <= 9.5:
        return cur

    norm = _normalize_ocr(row['raw_text'])
    return _select_int_rate(norm, row.get('int_rt_10yr', np.nan))


# ---------------------------
# APPLY UPDATE IN PLACE
# ---------------------------

mask = df3['int_rt'].isna() | ~df3['int_rt'].between(2.0, 9.5)
df3.loc[mask, 'int_rt'] = df3.loc[mask].apply(_fill_int_rt, axis=1)

In [200]:
# 1. Convert column to numeric (to handle any strings/floats consistently)
# We'll keep a copy of the original to differentiate between true NaNs and parsing errors if needed,
# but for the range check, numeric is best.
numeric_rt = pd.to_numeric(df3['int_rt'], errors='coerce')

# 2. Total count
total_rows = len(df3)

# 3. Calculate Counts
# Category A: NaN (Missing)
num_nan = df3['int_rt'].isna().sum()

# Category B: Right Format (Numeric and between 1.5 and 7.5)
num_right = ((numeric_rt >= 2.0) & (numeric_rt <= 9.5)).sum()

# Category C: Wrong Format (Not NaN, but not in the 1.5-7.5 range)
# This includes numbers like 0.0, 12.5, or strings that couldn't be converted
num_wrong = total_rows - num_nan - num_right

# 4. Calculate Percentages
pct_nan = (num_nan / total_rows) * 100 if total_rows > 0 else 0
pct_right = (num_right / total_rows) * 100 if total_rows > 0 else 0
pct_wrong = (num_wrong / total_rows) * 100 if total_rows > 0 else 0

# 5. Output Results
results = pd.DataFrame({
    'Category': ['Right Format (2 - 9.5)', 'Wrong Format (Out of Range)', 'NaN (Missing)'],
    'Count': [num_right, num_wrong, num_nan],
    'Percentage': [f"{pct_right:.2f}%", f"{pct_wrong:.2f}%", f"{pct_nan:.2f}%"]
})

print("--- Interest Rate (int_rt) Data Quality Report ---")
print(results.to_string(index=False))

--- Interest Rate (int_rt) Data Quality Report ---
                   Category  Count Percentage
     Right Format (2 - 9.5) 962901     99.82%
Wrong Format (Out of Range)      0      0.00%
              NaN (Missing)   1764      0.18%

## init_prncpl_lmt

In [201]:
df3['init_prncpl_lmt'].isna().sum()

np.int64(93005)

In [202]:
df3[df3['init_prncpl_lmt'].isna()].head(10)

     source_pdf  row_in_pdf                                                                                                                                                                                                                                                                 raw_text                                 lender   clsing_dt endrsmt_dt   tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ                                                                                                                                                                                                                     raw_text2
234           1           1  "Lender" "clsng dt’ ‘endrsmnt_dt' trmtn_dt' ‘Horr Age’ 'Coborr_Age’ ‘Horr Cnt' ‘cs status’ ‘int _rt' ‘int_rt lyr’ ‘hecm margin’ ‘pd_strmln fig’ 'rt_typ' ‘arm indx typ’ ‘arm prde typ’ "max clm amt’ “init prncpl_Imt’  ‘hecm orgntn fees’ "prop _addr_zip_cd’ loan_typ                                    NaN         NaN        NaN        NaN        80        <NA>         1         NaN     NaN          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0              <NA>       NaN  Lender clsagdt' encrsantct' trantndt' "BorrAge' CoborrAge' "BorrCnt' "csstatus' intert'"intrtl0yr'hecmmargin' pestrainfle' 'rttyp''arnindxtyp" araprectyp' paxclmant' "initprneplInt hecmorgntnfees' propaddrziped 'loantyp'
312       10002           1                                                                                                                                            ("SEATTLE WORTGAGE cowPaNy’ 1/22/2006] 2/2/2007 | sas/eors| 8] Tf Terminated’ | 6.53] Ps nt ay az9000Tte2siof 0 f*'22068 "02"               SEATTLE MORTGAGE COMPANY   1/22/2006   2/2/2007        NaN        90        <NA>         1  Terminated    6.53          NaN          0.0            F    NaN          NaN          NaN     22068.0              NaN                 0             22068       2.0                                                                                                                                             PSEATTLEMORTGAGECOMPANYzzz0082ve/zoo7avervaoie8TTerminated688eyoo0twzeigezyeef02"
313       10002           2                                                                                                                                [TRINANCIAL FREEDOM SENIOR FUNDING CORP’ | 12/4/2006] 1/a0/2007|12/a/aoro| 6] Ta terminated’ [ean] Pe fn aye t6s000/ris500[ 0 f'23s2a [oa  FINANCIAL FREEDOM SENIOR FUNDING CORP   12/4/2006  12/4/2006        NaN        71        <NA>         1  Terminated    4.00          NaN          0.0            A      F          NaN          NaN      2007.0              NaN                 0             65000       0.0                                                                                                                           PFINANCIALFREEDOMSENTORFUNDINGCoRP'T12/arz006/2a/2007i2/a/zoig6TtTerminated6.stfNwts000tssooffsza02
316       10002           5                                                                                                                                          ['WORLD ALLIANCE FINANCIAL cop.’ ___ | 12/28/2006] 2/13/2007] | go] | Assigned ' | 6.46) 2] tnt tay s5000[ szto] of '24oi3 "02"          WORLD ALLIANCE FINANCIAL CORP  12/28/2006  2/13/2007        NaN      <NA>        <NA>         1    Assigned    6.46          NaN          0.0          NaN    NaN          NaN          NaN         NaN              NaN                 0             24013       2.0                                                                                                                                                 PWORLDALLTANCEFINANCIALCoRP.'tz22o082iszoortwoAsignedPweewsn00Pwzznooanongfo2
317       10002           6                                                                                                                                                 ["FINANCTAL FREEDOM SENIOR FUNDING CORP’ | 12/6/2006] 2/20/2007] | Assigned" 6a5| 99 fnew ay tatoo toisz0f of '23462 02"  FINANCIAL FREEDOM SENIOR FUNDING CORP   12/6/2006  2/20/2007        NaN        62        <NA>         1    Assigned    6.00          NaN          0.0          NaN    NaN          NaN          NaN     23462.0              NaN                 0             23462       2.0                                                                                                                               PFINANCIALFREEDOMSENIORFUNDINGCoRP'T12/6/20082v2o/zo07Pssigned"6a599TNatttoootorszoff'23462f02"
318       10002           7                                                                                                                                                             [TFIRST MARINER BANK’ | t/t0/2006| 29/zoo7| | 3] | | Endorsed ' | 5] a] tt ay t90000/ tistso| of '235is "02"             TFIRST MARINER BANK'   T/T         NaN        NaN        NaN        61        <NA>         1    Endorsed    3.00          NaN          2.0            T      A          NaN          NaN      2006.0              NaN                 0             23515       2.0                                                                                                                                                              PFIRSTMARINERBANK't2006zovzoo7f8T6indorsedPwtp0000tizzooessisfo2
319       10002           8                                                                                                                                  ["PINANCTAL FREEDOM SENIOR FUNDING CORP’ | 2/21/2007! 4/s/2007|6/to/aoi0| | | Terminated’ | és7{ 5] nh we iy aaoo00|a6osz0fof'aa2a1 02"  FINANCIAL FREEDOM SENIOR FUNDING CORP   2/21/2007   4/5/2007        NaN        71        <NA>         1  Terminated    2.00          NaN          0.0            S    NaN          NaN          NaN      2007.0              NaN                 0             60520       2.0                                                                                                                   PFINANCIALFREEDOMSENIORFUNDINGCoRPT2/21/20074/5/20071evtovzoro6Terminated'6.57f65fNaton00tso3z0ff232z3nf02"
321       10002          10                                                                                                                             ["FINANCTAL FREEDOM SENIOR FUNDING CORP’ | 11/29/2006] 6/27/2007] ui/a2/aoi6| | | Terminated’ |e sif os] nh we ay T7000] gorse of '2a502 02"  FINANCIAL FREEDOM SENIOR FUNDING CORP  11/29/2006  6/27/2007        NaN        61          70         2  Terminated    6.00          NaN          0.0            E    NaN          NaN          NaN         NaN              NaN                 0              2502       NaN                                                                                                                   FINANCTALFREEDOMSENIORFUNDINGCORP'11/29/20066/27/2007tiyez/zois73tTerminated6.SIt68PSNTa7000fgoaeo'2aso2fon
327       10002          16                                                                                                                                      ["RINANCTAL FREEDOM SENIOR FUNDING CORP’ | az/a/2006| 1/30/2007] | taf a Assigned 645] 99 [tne whe ays as5000[tozi45[ of '232a8 02"  FINANCIAL FREEDOM SENIOR FUNDING CORP   1/30/2007  1/30/2007        NaN        61        <NA>         1    Assigned    6.45          NaN          0.0            A      A          NaN          NaN      2006.0              NaN                 0             55000       2.0                                                                                                                                   PFINANCIALFREEDOMSENIORFUNDINGCoRP'T12/8/2006/go/zoo7atAssigned"645fotNt5000tozasf23238f02"
329       10002          18                                                                                                                               ["RINANCTAL FREEDOM SENIOR FUNDING CORP’ | 12/8/2006] 2/13/2007] o/7/aoig| | | Terminated’ | 6.45] 99 nh ways agonal aeogs2[ of '23453 02"  FINANCIAL FREEDOM SENIOR FUNDING CORP   12/8/2006  2/13/2007  10/7/2019      <NA>        <NA>         1  Terminated    6.45          NaN          0.0            O    NaN          NaN          NaN     23453.0              NaN                 0             23453       2.0                                                                                                                       FINANCIALFREEDOMSENIORFUNDINGCoRP'T12/8/20062/13/200710/7/2019ttTerminated'6.459fNag00tgogszf'23453f02"

In [203]:
# ------------------------------------------------------------
# OCR NORMALIZATION
# ------------------------------------------------------------

def _normalize_ocr(text: str) -> str:
    if not isinstance(text, str):
        return ""

    t = text.upper()

    # Correct common OCR character misreads
    char_map = {
        'O': '0',
        'Q': '0',
        'I': '1',
        'L': '1',
        'S': '5',
        'Z': '2',
        '|': ' ',
        '/': ' ',
        '\\': ' ',
        '[': ' ',
        ']': ' ',
        '(': ' ',
        ')': ' ',
        "'": ' ',
        '"': ' ',
        ',': ' ',
    }
    for k, v in char_map.items():
        t = t.replace(k, v)

    # Normalize whitespace
    t = re.sub(r'\s+', ' ', t)

    # Remove stray non-numeric punctuation except decimal
    t = re.sub(r'[^0-9.\s]', ' ', t)
    t = re.sub(r'\s+', ' ', t)

    return t.strip()


# ------------------------------------------------------------
# NUMERIC TOKEN EXTRACTION
# ------------------------------------------------------------

def _extract_numeric_tokens(text: str):
    """
    Extract numeric-looking tokens with start positions.
    """
    tokens = []
    for m in re.finditer(r'\b\d{2,7}(?:\.\d+)?\b', text):
        tokens.append((m.group(), m.start()))
    return tokens


def _clean_numeric(token: str):
    """
    Convert token to float after fixing decimal artifacts.
    """
    try:
        return float(token)
    except ValueError:
        return None


# ------------------------------------------------------------
# CORE EXTRACTION LOGIC
# ------------------------------------------------------------

def _select_init_principal(norm_text: str):
    """
    Select init_prncpl_lmt using positional logic:
    AFTER max_clm_amt and BEFORE hecm_orgntn_fees.
    """
    tokens = _extract_numeric_tokens(norm_text)

    if not tokens:
        return np.nan

    # Convert tokens to numeric candidates
    candidates = []
    for tok, pos in tokens:
        val = _clean_numeric(tok)
        if val is None:
            continue
        candidates.append({'val': val, 'pos': pos})

    if not candidates:
        return np.nan

    # Filter plausible ranges (very permissive, accuracy later)
    candidates = [
        c for c in candidates
        if 10000 <= c['val'] <= 1000000
    ]
    if not candidates:
        return np.nan

    # Sort by position
    candidates.sort(key=lambda c: c['pos'])

    # Heuristic:
    # max_clm_amt usually appears first, init_prncpl_lmt next,
    # hecm_orgntn_fees is usually 0 or small integer afterward.
    #
    # Strategy:
    # - Identify large-ish number (max_clm_amt)
    # - Next large-ish number is init_prncpl_lmt
    # - Ignore trailing small values (fees, zip, loan type)

    large_vals = [c for c in candidates if c['val'] >= 30000]

    if len(large_vals) >= 2:
        # Prefer values divisible by 1000
        for i in range(len(large_vals) - 1):
            v = large_vals[i + 1]['val']
            if v % 1000 == 0:
                return float(v)

        # Fallback: second large number
        return float(large_vals[1]['val'])

    # Fallback: single plausible candidate
    if large_vals:
        return float(large_vals[0]['val'])

    return np.nan


# ------------------------------------------------------------
# ROW-LEVEL APPLY
# ------------------------------------------------------------

def _fill_init_prncpl_lmt(row):
    cur = row['init_prncpl_lmt']
    if pd.notna(cur):
        try:
            if float(cur) > 0:
                return cur
        except Exception:
            pass

    norm = _normalize_ocr(row['raw_text'])
    return _select_init_principal(norm)


# ------------------------------------------------------------
# APPLY UPDATE IN PLACE
# ------------------------------------------------------------

mask = df3['init_prncpl_lmt'].isna() | ~pd.to_numeric(
    df3['init_prncpl_lmt'], errors='coerce'
).notna()

df3.loc[mask, 'init_prncpl_lmt'] = (
    df3.loc[mask].apply(_fill_init_prncpl_lmt, axis=1)
)

## Final Analysis

In [204]:
(df3.isna().sum() / len(df3)) * 100

source_pdf           0.000000
row_in_pdf           0.000000
raw_text             0.000000
lender               0.060021
clsing_dt            3.270254
endrsmt_dt           3.771257
tmntn_dt            54.903308
Borr_Age             1.091260
Coborr_Age          54.982403
Borr_Cnt             0.000000
es_status            0.054630
int_rt               0.182861
int_rt_10yr         17.877502
hecm_margin          0.000726
pd_stmln_flg         9.711040
rt_typ              31.599674
arm_indx_typ        51.395148
arm_prdc_typ        94.480778
max_clm_amt          2.700005
init_prncpl_lmt      4.170152
hecm_orgntn_fees     0.000000
prop_addr_zip_cd     0.371113
loan_typ             1.273499
raw_text2            0.174568
dtype: float64

In [51]:
(df3.isna().sum() / len(df3)) * 100

source_pdf           0.000000
row_in_pdf           0.000000
raw_text             0.000000
lender               0.060021
clsing_dt            3.270254
endrsmt_dt           3.771257
tmntn_dt            54.903308
Borr_Age             2.218698
Coborr_Age          54.841836
Borr_Cnt             0.000000
es_status            0.054630
int_rt               0.182861
int_rt_10yr         17.877502
hecm_margin          0.180166
pd_stmln_flg         9.711040
rt_typ              31.599674
arm_indx_typ        51.395148
arm_prdc_typ        94.480778
max_clm_amt          2.700005
init_prncpl_lmt      4.170152
hecm_orgntn_fees     0.000000
prop_addr_zip_cd     0.288390
loan_typ             1.273499
raw_text2            0.174568
dtype: float64

In [52]:
df3.describe()

          source_pdf     row_in_pdf   Borr_Age  Coborr_Age   Borr_Cnt         int_rt   int_rt_10yr    hecm_margin  init_prncpl_lmt  hecm_orgntn_fees   prop_addr_zip_cd      loan_typ
count  964665.000000  964665.000000   943262.0    435625.0   964665.0  962901.000000  7.922070e+05  962927.000000     9.244370e+05          964665.0           961883.0  9.523800e+05
mean     8509.875521      35.800425  74.798731   73.876561   2.422081       4.670698  3.012045e+03       1.776246     1.985149e+09               0.0     16233373.41072  3.183382e+08
std      5464.386153      20.692702   8.762745    7.638273  10.519997       1.511200  2.247972e+06     365.477440     7.284920e+11               0.0  9660056303.456844  4.475442e+10
min         1.000000       1.000000        0.0        61.0        0.0       2.000000  0.000000e+00       0.000000     0.000000e+00               0.0                0.0  0.000000e+00
25%      3440.000000      18.000000       68.0        68.0        1.0       3.316000  4.605000e+00       0.000000     8.208400e+04               0.0            30081.0  2.000000e+00
50%      6796.000000      36.000000       74.0        73.0        1.0       4.990000  5.175000e+00       1.500000     1.375720e+05               0.0            54555.0  2.000000e+00
75%     13608.000000      53.000000       81.0        79.0        2.0       5.625000  5.700000e+00       2.240000     2.225810e+05               0.0            90249.0  2.000000e+00
max     17259.000000     156.000000     1997.0        95.0     2006.0       9.500000  2.000798e+09  355909.500000     6.000040e+14               0.0    9000574773105.0  9.962060e+12

## Export

In [205]:
# Export df1 without raw_text columns
columns_to_export = [col for col in df3.columns if col not in ['raw_text', 'raw_text2']]
df3_export = df3[columns_to_export]

# Export to CSV
df3_export.to_csv('export_V4.csv', index=False)

print(f"Exported {len(df3_export)} rows and {len(df3_export.columns)} columns")
df3_export.head()

Exported 964665 rows and 22 columns

   source_pdf  row_in_pdf                    lender   clsing_dt endrsmt_dt   tmntn_dt  Borr_Age  Coborr_Age  Borr_Cnt   es_status  int_rt  int_rt_10yr  hecm_margin pd_stmln_flg rt_typ arm_indx_typ arm_prdc_typ max_clm_amt  init_prncpl_lmt  hecm_orgntn_fees  prop_addr_zip_cd  loan_typ
0         100           1                  GMFS LLC  12/31/2012  2/25/2013  2/16/2017        64          64         1  Terminated    5.06         5.06          0.0            R    NaN          NaN          NaN    117000.0          74529.0                 0             36108       2.0
1         100           2  ONE REVERSE MORTGAGE LLC  12/15/2012  1/25/2013        NaN        73          73         2    Assigned    4.50         4.50          0.0            O      N            R          NaN    200000.0         136200.0                 0             36312       2.0
2         100           3  SUN WEST MORTGAGE CO INC   1/11/2013   3/4/2013        NaN        86        <NA>         1    Assigned    5.30         5.30          0.0            I      I            A          NaN    130000.0          86710.0                 0             36571       2.0
3         100           4     MSR ASSET VEHICLE LLC   2/20/2013  7/25/2013        NaN        76          76         2    Assigned    5.06         5.06          0.0            O      F          NaN          NaN    300000.0         207900.0                 0             36078       2.0
4         100           5  SUN WEST MORTGAGE CO INC   1/26/2013  4/22/2013        NaN        72        <NA>         1    Endorsed    4.99         4.99          0.0          NaN      F          NaN          NaN    240000.0         161040.0                 0             35966       2.0

In [206]:
# Export to CSV
df3.to_csv('export_raw_V4.csv', index=False)